[2016-05-24 16:27] Drummz opened #701 "password on eth wallet 0.7.3. doesnt work"
Node type: geth/eth
OS: osx
Network type: main/test
Mist version: 0.7.3

i already tried to sync my wallet a few times and after i dont know 20 times wallet synced.
But when i tried to send some eth on another address it was writen first that it couldnt connect with the nodes...ok... but after that problem my pasword didn't work anymore. I have pass which i created on the beginning but it doesnt w

[2016-05-24 16:56] vogelito commented on #528
hi @luclu - yes, I just replicated this behavior with the following transaction: http://etherscan.io/tx/0xeb59a3f910315e02c8aaef7baeb9dfff2f8405ad14983b6d8cf6aabf13606294

Mist reports it as: "THE TRANSACTION DIDN'T SEEM TO HAVE ENOUGH GAS TO EXECUTE"
Etherscan and others are OK with it.

I would be more than happy to provide any additional details.

[2016-05-24 18:15] Kojee commented on #701
Have you tried updating your password trough Geth? You can download it here [Geth](https://github.com/ethereum/go-ethereum/releases), then open a cmd in the folder you downloaded it and inserting the command `geth account update ` and then the number of the account you want to update( for instance if you have only one account you can  write 0, or you can insert geth account list to see every accou

[2016-05-24 18:22] Kojee commented on #695
It could be an error in the PC clock, try to set a different site from where you synchronize the clock.
Go on the clock on the bottom right corner, edit and then on the tabs press Internet hour.
Names may be different because my windows version is 7 and it's not in english but it's more or less the same.

[2016-05-24 18:40] luclu commented on #523
I will close this for now, but feel free to discuss a resolution for your problem with me.

[2016-05-24 18:40] #523 closed

[2016-05-24 18:44] luclu opened #702 "unreadable text on gnome dark theme"
As reported in this issue: https://github.com/ethereum/mist/issues/523

![](https://cloud.githubusercontent.com/assets/8933663/14941210/c1c99f40-0f93-11e6-9d21-7315a96d9e1c.png)

[2016-05-24 18:47] luclu commented on #598
related: https://github.com/ethereum/mist/issues/702 (gnome dark theme)

[2016-05-24 19:55] derektiffany commented on #686
@mhenders

If you choose Develop -> Toggle Developer Tools -> Wallet UI -> console you should be able to use the javascript console to remove the undesired contract in question by using the CustomContracts collection to find (and remove).

For example ...
[code]

I did something similar at one point and cleaned up the install via the above.

[2016-05-24 23:59] luclu opened #703 "electron 1.0.1 bugs"
branch: `develop` (actually PR https://github.com/ethereum/mist/pull/700)
electron: `1.0.1`

Must be a problem [upstream](https://github.com/electron/electron/issues/1507) as [this](https://github.com/ethereum/mist/blob/develop/modules/menuItems.js#L343) is the correct `accelerator: 'CommandOrControl+Shift+1'` ([docs](http://electron.atom.io/docs/api/accelerator/)) and did work in `0.7.4`.

<img w

[2016-05-25 00:43] luclu opened #704 "gulp wallet creates corrupt packages if wine is missing"
Evoking `gulp wallet` on OS X with having `wine` installed will only produce a wallet-package for linux64.
Evoking `gulp wallet --platform darwin` or `gulp wallet --platform linux` will produce **valid** packages.

- [x] check if updating `electron-packager` helps: https://github.com/ethereum/mist/issues/646 - **not resolved**

[2016-05-25 07:17] ChristianBF commented on #695
Same problem here, sholutions above dont work

[2016-05-25 08:38] oneala commented on #695
The thing is that i had the same problem on win7 and i recently installed win10 but the problem persist. All this hapen when i upgraded from Ethereum-Wallet-win64-0-7-2 to Ethereum-Wallet-win64-0-7-3.

I tried to turn off firewall, sync time zone but still cannot open it. :(

[2016-05-25 09:29] luclu commented on #695
@oneala please try to delete the Mist folder `%appdata%\roaming\Mist` and start 0.7.4.

[2016-05-25 09:37] mhenders commented on #686
Hi @derektiffany — Thanks so much for that, but I'd be terrified to try it. With my luck, I'm pretty sure I'd end up deleting my entire wallet! Hopefully another option is to just wait for a version to be released that fixes the bug?

[2016-05-25 09:52] ChristianBF commented on #695
@luclu There is no foulder found in my case :(

[2016-05-25 14:34] lyricalpolymath opened #709 "[question] Shouldn't Private Keys be encrypted?"
OS: osx 10.9
Mist version: 0.7.4

Hi,
I was under the [impression](http://www.ethdocs.org/en/latest/account-management.html) that private keys in /Library/Ethereum/keystore
were supposed to be encrypted, right?

When I open them with a text editor they are readable json.
even the salt is readable.

- **Is that the correct behaviour or is it a bug?**

- **is it safe to store the keys like this (rea

[2016-05-25 15:13] frozeman commented on #709
Yes they are encrypted, @fjl @Gustav-Simonsson you want to give an explanation.

[2016-05-25 15:36] fjl commented on #709
See https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition for details about the key file format. The short version is that each file contains a section called "crypto" which holds the actual ciphertext and all public parameters.

It should be safe to store the key in this format without encrypting it further.
Note that the file includes the Ethereum address in plain text form.

If t

[2016-05-25 16:19] MrBrighty commented on #572
@luclu

Fair enough. So, for other people who could meet the same issue as me:

1) Download atomic clock sync
2) Open geth.exe --datadir "path" via cmd

[2016-05-25 16:52] oneala commented on #695
@luclu didn't worked :( ...

[2016-05-25 18:37] A7DC commented on #650
What I used to get around it:

On the wallet tab: Cmd+a > cmd+c > post into a text file > copy the wallet address

[2016-05-25 18:39] sclarke001 commented on #687
@luclu ShapeShift wrote: "You will need to contact the Ethereum Support Team. We have no way to recover funds that were sent in a successful transactions."

I used a Test-net account for the transfer.  Would there be a way to recover the transaction? https://www.etherchain.org/tx/0xec7a225a7b1221cb1d7f7126682eb8e337365904ca501cc010b60ed12d48c014

[2016-05-25 18:50] luclu commented on #687
@sclarke001 try to copy the json-file of your wallet from the test-net `keystore`-folder to the main-net one.

[2016-05-25 18:55] DaGitNah opened #712 "Could not find block zero"
Node type: geth
OS: Windows 10 x32
Network type: main
Mist version: 0.5.1

\AppData\Roaming\Ethereum\Chaindata
Fatal: chain db corrupted. Could not find block 0

[2016-05-25 19:01] sclarke001 commented on #687
that worked, thanks!

[2016-05-25 19:07] fjoes opened #713 "Block hash 1,148,910 failure"
Well, I was asked to kindly report this...

Node type: geth
Network: main
Platform: darwin (Architecure x64)

...I0525 20:52:09.448215 cmd/utils/flags.go:687] You're one of the lucky few that will try out the JIT VM (random). If you get a consensus failure please be so kind to report this incident with the block hash that failed. You can switch to the regular VM by setting --jitvm=false
I0525 20:5

[2016-05-25 19:08] luclu commented on #712
@DaGitNah make sure to use the latest version 0.7.4 as 0.5.1 bundles an ancient version of geth.

Windows 32bit is **currently not supported** - that said you should be able to run it by downloading [Ethereum-Wallet 0.7.4 win32](https://github.com/ethereum/mist/releases/tag/0.7.4) and [geth 1.4.1-RC win32](https://github.com/ethereum/go-ethereum/releases/tag/v1.4.1). You will need to copy `geth.ex

[2016-05-25 19:08] #712 closed

[2016-05-25 19:09] luclu commented on #713
What version are you currently using? Also are you running any externally launched instance of `geth`?

[2016-05-25 19:12] fjoes commented on #713
Version 0.7.4, no externally launched geth 's

[2016-05-25 19:15] buha commented on #523
Hey, sorry for lag.
Actually, I thought the import may work with any file under **keystore** directory. No, I don't really have a pre-sale wallet so I just fed it a wallet that I created with the Mist Browser.

However, in 0.7.4 the graphics are the same, big rectangle hiding the what follows *file named*. Might have something to do with Gnome 3.20?

[2016-05-25 19:16] luclu commented on #713
@fjl could you have a look at this?

[2016-05-25 19:21] luclu commented on #270
Possible to do as **command-line flag** as of PR https://github.com/ethereum/mist/pull/689. This will be available in version 0.7.5.
Also requested in: https://github.com/ethereum/mist/issues/682

[2016-05-25 19:23] luclu commented on #682
Will be available in the next version 0.7.5.

[2016-05-25 19:23] #682 closed

[2016-05-25 19:24] luclu commented on #156
This will be available in version 0.7.5.

[2016-05-25 19:24] #156 closed

[2016-05-25 19:27] luclu commented on #523
Try to just move it back to the `keystore`-folder, does this work?

For the other points the corresponding issues are those:
2. https://github.com/ethereum/mist/issues/702
3. https://github.com/ethereum/mist/issues/288

[2016-05-25 19:29] buha commented on #523
Yes, moving back to keystore works like a charm.
I'll follow #702 for now. Thanks @luclu

[2016-05-25 19:38] luclu opened #714 "error/infinite import of wallet-file"
The import of non-presale-wallets will cause a stalling/infinite import dialog.
Affected wallets (web3-secret-storage version 1 to 3):
- myethereumwallet.com
- kryptokit https://github.com/ethereum/mist/issues/631
- Mist wallets (create wallet, move out of `keystore` and import)

We could also change the menu-label from `import Pre-sale Accounts` to `import Wallet`.

[2016-05-25 19:40] luclu commented on #523
Awesome. Then it is another bug. ;)
I created an issue here https://github.com/ethereum/mist/issues/714.
If you are interested you can follow the issues by subscribing to them (on the right pane).

[2016-05-25 19:50] luclu commented on #638
I will close this for now.

[2016-05-25 19:50] #638 closed

[2016-05-25 19:56] luclu commented on #631
@comodore90 could you please try to move the `json`-file into the `keystore`-folder (menu --> accounts --> backup --> accounts)?

[2016-05-25 19:57] #709 closed

[2016-05-25 20:05] luclu commented on #556
@Constantin22 please have a look here on how to delete unwanted contract with the console: https://github.com/ethereum/mist/issues/686#issuecomment-221383570

[2016-05-25 20:05] luclu commented on #556
I will close this for now.

[2016-05-25 20:05] #556 closed

[2016-05-25 20:11] jordimorris opened #715 "Mist Couldn't connect to node error"
Mist has been working fine for many weeks until today.
The following window appears on 6.2 and 7.4

What can I do to have the full node up and running again?
thanks
![image](https://cloud.githubusercontent.com/assets/10827671/15554635/7774305a-22c5-11e6-8d65-3bcc566a659e.png)

[2016-05-25 20:51] georgetsn opened #716 "wrong password"
hello,

i cant make transactions every time i get the yellow message wrong password
my password is 100% correct.

i try to unlock my acc from geth but it takes too long  is that normal?

[2016-05-25 21:44] luclu commented on #716
@georgetsn please try out these recommendations and give me a ping-back. https://github.com/ethereum/mist/issues/669

[2016-05-25 21:56] georgetsn commented on #716
im trying to unlock my account
`Unlocking account 0x75aA58C266e3f89497456e6aac704094b818cEA2 | Attempt 1/3
`

[2016-05-25 22:17] bartobri commented on #583
Same issue for me on arch linux 4.5.4. ntpd is installed and running. Getting error dialog box: "Your computer's clock is not synced.". I can not get past the mist splash screen.

[2016-05-25 23:08] comodore90 commented on #631
![img_20160525_011359 1](https://cloud.githubusercontent.com/assets/19351288/15558798/37aa93de-22dd-11e6-88d7-942ea36b0456.jpg)
![img_20160525_002005 1](https://cloud.githubusercontent.com/assets/19351288/15558823/68d3e21c-22dd-11e6-96d2-3af012290bf3.jpg)

Hello and many thanks for answering your collaboration ,
Right, I move the Json to the keystore carpteta , the same route that explains me . In

[2016-05-26 00:56] phonikg commented on #425
...So then really what you meant to say was that dragonfrugal @bobsummerwill and I finally figured it out;)  If there is any further testing that can confirm/deny/test this further for the dev's I am willing to help.

Same system as in reddit thread, 2 days later, and `geth` only using at most 17% CPU(as per `top`)

[2016-05-26 02:40] hiddentao commented on #152
PR #707 implements an upgrade alert notice.

[2016-05-26 03:45] fjl commented on #713
The messages are unrelated. The second message tells you that another geth instance is already using the database.

[2016-05-26 04:27] larrysmith1000 opened #717 "Send ether from wallet contract when owner has 0.00 balance"
Does anyone know of a way to send funds from a wallet contract when the owner of the wallet has a 0.00 balance?  I understand that the owner has to pay the transaction fee, but that presents a problem when the owner has a 0.00 balance.

The wallet contract can't even send funds to the owner, which should be an exception to the rule.

This is like going to a bank machine, and having to pay the tran

[2016-05-26 06:05] georgetsn commented on #716
nothing works, i will try to move keystorefiles to another computer

[2016-05-26 08:06] Drummz commented on #701
Thank you very much for your answer. I will try it that way!

--
Lep pozdrav/Kind regards/Atenciosamente

Anže Žurbi – Zurby

musician, independent cultural worker, drum teacher, ambassador at Different Company, endorser at Manicdrum Company, independent LEO member

Phone:
SI - 00386 40 552 884
BRA - 0055 11 97555 3221
Mail:
zurbydrums@gmail.com,
zurby@different-eye.com,
Zurby@leobrasil.net
Anze.z

[2016-05-26 08:15] luclu commented on #701
@Drummz also make sure to check out these recommendations: https://github.com/ethereum/mist/issues/669

[2016-05-26 09:05] taoteh1221 commented on #425
@phonikg I am dragonfrugal, just use my biz name on Reddit instead of taoteh1221 :) Thanks very much for chatting with me on Reddit, I have a Sandisk x400 SSD arriving today for my lower end laptop...will post results here after installing.

[2016-05-26 11:20] luclu commented on #646
**electron-packager** `7.0.2` brings the following changes among others:
 - defaults to ssl when downloading modules to prevent MITM-attacks
 - added platform `mas` (Mac App Store)
 - splitted OS X-signing routines into the module [electron-osx-sign](https://github.com/electron-userland/electron-osx-sign)

issues with `electron-packager 7.0.2`:
 - [ ] `gulp wallet` will package Mist.
 - [ ] not al

[2016-05-26 13:31] Maikelinho opened #718 "Couldn't Start an ethereum node - or fatal error"
Node type: geth/eth
OS: windows
Network type: main/
Mist version: 0.0.0

![2016-05-26 1](https://cloud.githubusercontent.com/assets/19591744/15576167/e5055a36-2356-11e6-8821-3ebad36f3009.png)

Hello,

I can't get into my Ethereum Wallet anymore since today.

Can somebody help me?

[2016-05-26 13:53] taoteh1221 commented on #152
Cool.

[2016-05-26 14:18] luclu commented on #718
@Maikelinho please update to version 0.7.4 bundling geth 1.4.4. This sould help.

[2016-05-26 14:18] #718 closed

[2016-05-26 14:20] lyricalpolymath commented on #709
thanks@frozeman and @fjl  for your reply...and for pointing out to the wiki.
That's an interesting resource, although the [web3 secret storage definition](https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition) assumes a lot of previous knowledge of cryptography to understand it :)

you should add this is explanation you just gave here to the top of the article, as an introduction, a

[2016-05-26 15:23] luclu commented on #717
@larrysmith1000 Thank you for this suggestion. Could you kindly reopen this issue on the [dapp-repo](https://github.com/ethereum/meteor-dapp-wallet)?

[2016-05-26 15:23] #717 closed

[2016-05-26 15:24] luclu commented on #716
Do you get an error message or is the dialog just freezing?

[2016-05-26 15:37] phonikg commented on #425
@taoteh1221perfect...and thanks for recognizing that I was just having some fun with you, there is always the risk that that may not be conveyed via text-only communication.  Also...  Great effort here in providing other details of the issue thus far!

[2016-05-26 16:13] jdc4429 commented on #367
Tried sending ETH for the first time today.  Same issue as everybody else.  Will not send unless you pick the max amount of gas.  Notes going back 3 weeks on here, why is this not fixed yet?  No notification, just drops the transaction.  Bad enough not being able to update the blockchain in a reasonable period of time, now have to deal with this.  Better get your act together.

[2016-05-26 16:19] Shadowstep33 commented on #518
Not sure if it really helps but I noticed when I exit Mist I can see geth still running in taskmanager

[2016-05-26 16:21] georgetsn commented on #716
i've failed to unlock my acc , maybe there is no solution :/     anyway thanks for help :)

[2016-05-26 16:33] luclu commented on #716
Could you try opening it with myethereumwallet.com as suggested in #669?

[2016-05-26 16:43] luclu commented on #631
Cool, please give me some notice on the outcome when you are fully synced!

[2016-05-26 17:51] taoteh1221 commented on #425
@phonikg Lol, you got me. :smile:  Thanks for the compliments. Will be cloning my HDD to SSD tomorrow (waiting on a USB 3.0 external case to do disk-to-disk with clonezilla), will post results of watching contracts in Mist afterwards to this thread. Hopefully it remedies the issue as expected, although Mist Wallet v0.7.4 does at least re-sync immediately with geth when sending a transaction which

[2016-05-26 18:41] georgetsn commented on #716
my pc is freezing when i press "unlock wallet" i cant do this process

[2016-05-26 21:36] alexvandesande commented on #367
The latest errors might be related to a estimate gas function that was broken on geth 1.4.4 This will be gone on the next version that includes geth 1.4.5

[2016-05-26 21:43] larrysmith1000 opened #719 "Accounts Locked - No transactions getting confirmed or completed (selected one transaction fee too low)"
Today, from Mist Ethereum Wallet, I tried to send ether from my contract wallet to my account (the owner of the contract wallet.  For the first time, I selected the lowest possible transaction fee, to see how long it would take.  The transaction appeared (greyed) in the "latest transactions" list.  After about 5 minutes, (~20 blocks), the transaction disappeared from the list, and the transaction

[2016-05-26 21:54] larrysmith1000 commented on #719
Here is a very old thread that looks like a similar issue, but using geth console:
https://github.com/ethereum/go-ethereum/issues/906

All my ether is locked up.  Please help!  Thx!

[2016-05-26 23:28] comodore90 commented on #631
Hello thank you very much for answering me , although I download 99 % of the chain block is still not updated. It's very strange

[2016-05-27 00:49] ethertothemoon opened #720 "Few questions on update"
Node type: geth/eth
OS: windows
Network type: main
Mist version: win64-0-7-4

Hi, I spent the last few days trying to solve an issue, which appears to be solved, but I had some questions to help me learn what I did to solve and to learn the wallet in general.

As far as the issue, when I restarted my computer a few days ago, I began to get the error "no ethereum node binary found"  A few minutes a

[2016-05-27 01:16] larrysmith1000 commented on #719
I don't know if it was a coincidence, but now (3 hours later) I tried sending one more transaction (1 eth) from the owner's account, and again chose maximum fee.  On the very next block, the transaction went through, and so did all the prior transactions simultaneously.

Can anyone explain why this happened?  It is definitely a usability problem for noobs like me, which we should be trying to attr

[2016-05-27 01:21] kingteddy commented on #363
So I'm having the same issue. "No Ethereum node binary found!". This comes up when I try to open Mist. Re-downloaded a couple times now.

[2016-05-27 01:24] luclu commented on #363
@kingteddy what OS are you running? (also version 0.7.4?)

[2016-05-27 01:27] luclu commented on #716
...you will only need to copy the json-wallet from the `keystore`-folder for this process.

[2016-05-27 01:31] kingteddy commented on #363
Just got it to work. Thanks

[2016-05-27 01:44] luclu commented on #720
Hi @ethertothemoon, feel free to stay and discuss with me.

1. You can saftely delete the binaries as the configurations and most importantly the wallets are store under `%APPDATA%\roaming\Ethereum` and `%APPDATA%\roaming\Mist`.
2. You externally started the **eth**-node. Mist should connect to this as it is started. If you don't do this Mist will launch the node. But the **eth**-node is experimen

[2016-05-27 01:44] #720 closed

[2016-05-27 02:05] luclu commented on #719
I was able to observe this behaviour.

[2016-05-27 02:10] Felixtwist commented on #576
Hi, I have had the same problem when withdrawing from Kraken. the first 2 test runs I used a small amount of ether and it was confirmed successful on Kraken. However, I have proceeded to withdraw all of my ETH and it has never showed up in my account! I am currently down over 1000 ETH. I have re-synced the node and am running the latest version of MIST however still no signs of the ETH in my accou

[2016-05-27 02:14] withtbird2 commented on #576
Forget Mist. Try opening wallet using Myetherwallet.com. I did and managed
to salvage (send back to Kraken) my missing ETH.
On May 26, 2016 11:10 PM, "Felixtwist" <notifications@github.com> wrote:

[2016-05-27 02:16] luclu commented on #576
@Felixtwist for a start look up your recipient address on a block-explorer. You might want to contact kraken support to trace the transaction if no ether is shown on the block-explorer as well.

[2016-05-27 03:31] rbrtwy opened #722 "No access to new account"
Node type: eth
OS: windows
Network type: main
Mist version: 0.5.2

I started downloading the blockchain about 2 days ago.  But I am still only on block 1,473,915 of 1,591,713.  Should it take this long to download?  Also, when I first started downloading the blockchain, I was given the option of depositing bitcoin (which would be converted to eth).  I received confirmation that the deposits went t

[2016-05-27 04:01] Quazoo opened #723 "After loading a presale json file into Mist 0.7.4, the Main account in the wallet (etherbase), which has DAO tokens in it, doesn`t show said DAO tokens anymore."
Few weeks back i downloaded Mist and send some ETH to it. Then i bought some DAO tokens, which showed up nicely in the Main account. Today i loaded a presale json file into Mist and i got the second account. But now the DAO tokens are gone from Mist. I can`t send them from the Mainaccount.

Mist 0.7.4 Windows 10 x64

[2016-05-27 05:17] larrysmith1000 commented on #719
I did read one thread about that, and it does sound very similar:
https://github.com/ethereum/go-ethereum/issues/906

[2016-05-27 06:43] Maikelinho commented on #718
Doesn't really help, it made a new account, but just before the new account popped up, i saw my old account. Also, my previous transactions are still visible in the wallet.

[2016-05-27 07:14] larrysmith1000 opened #725 "DAO Token Balance Discrepancies"
Hi -

The amount of DAO Tokens listed as a balance in various places in Mist Ethereum Wallet are different.  First, the balance for me given on daohub is: 28,000

On the account view it shows the correct balance: 28,000
On the contract view under "Custom Tokens" it says: 9,555.588549...
On the DAO view (when you click on The DAO contract under custom contracts) it says: 6755.588549...

See attache

[2016-05-27 07:25] emosto commented on #136
OK, using the last version of the wallet showed no crashes so far. Thanks.

[2016-05-27 08:00] larrysmith1000 opened #726 "Geth 1.4 Memory Leak (Interaction with Ethereum Wallet / Electron)"
Sorry for inundating you with issues, hopefully these are helpful for testing. Let me know if you have questions, or need additional info.

I am using Windows 10 64bit.
Ethereum Wallet 0.7.4 with geth 1.4

I have a memory leak in geth when it is initiated by Ethereum Wallet.  When I open geth.exe (same file the wallet uses) from the command line, there is no leak.  When the leak gets to about 20%

[2016-05-27 08:21] larrysmith1000 commented on #726
P.S. Still appears to leak after removing The DAO contract.

[2016-05-27 11:04] luclu commented on #136
Good to hear, I will close then.

[2016-05-27 11:04] #136 closed

[2016-05-27 11:07] luclu commented on #723
@Quazoo please make sure you are watching the DAO token. You can also use a blockchain-explorer like etherscan.io to check the tokens balance. Ping me back on the outcome!

[2016-05-27 11:09] luclu commented on #722
@rbrtwy please update to the latest version 0.7.4. This should solve your problems. Also make sure to stick to the **geth**-node as **eth** support is currently only experimental and contains several bugs. I will close this for now. Ping me back on the outcome!

[2016-05-27 11:09] #722 closed

[2016-05-27 11:36] luclu commented on #725
Thank you for reporting @larrysmith1000.
We are aware of this issue and will fix it in the next version: https://github.com/ethereum/mist/issues/608
I will close this as a duplicate.

[2016-05-27 11:36] #725 closed

[2016-05-27 11:41] luclu commented on #726
Thank you for the detailed report!
This temporary measure should stop this from happening: https://github.com/ethereum/meteor-dapp-wallet/pull/199
Feel free to try this out. If you don't want to setup the dev tools I can send you a binary with it for testing!

[2016-05-27 11:42] luclu commented on #726
Thank you for the detailed report!
This temporary measure might stop this from happening: https://github.com/ethereum/meteor-dapp-wallet/pull/199
Feel free to try this out. If you don't want to setup the dev tools I can send you a binary with it for testing!

[2016-05-27 11:44] rbrtwy commented on #722
@luclu Thank you for responding.  Just want to ask to be safe - before doing the update, do I need to back up my keystore files?  If so, I cannot get access to it within Mist.  Is there a way to go into the folder through file explorer and back it up that way?

[2016-05-27 11:47] luclu commented on #722
You don't need to backup your `keystore`-folder for an update as this is not touched by it - although it is a good idea to have a backup anyways. ;) (you will need to backup any newly created wallet address (json-file) only once)
The folder is located under `%APPDATA%\roaming\Ethereum`.

[2016-05-27 11:57] rbrtwy commented on #722
@luclu Thank you so much.  This should the last question for now - is there an upgrade "button"?  Or do I just download 0.7.4 and open it, and that is the upgrade process?  Do I need to delete the old version before I open 0.7.4?  Thanks again.

[2016-05-27 11:59] luclu commented on #722
No worries @rbrtwy you are welcome to ask any question (you can also you [gitter](https://gitter.im/ethereum/mist?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for this).
You can just start the new version and delete the old one.

[2016-05-27 12:00] #646 closed

[2016-05-27 12:01] luclu commented on #716
I will close this issue for now but feel free to stay and discuss a solution for your problems.

[2016-05-27 12:01] #716 closed

[2016-05-27 12:19] luclu commented on #608
PR https://github.com/ethereum/meteor-dapp-wallet/pull/196

[2016-05-27 13:28] bas-vk commented on #671
I don't think giving the user access to node related (point 2 and 3) features through a gui is necessary. We should put instructions to perform these tasks somewhere on the wiki and let the user execute these. It would be nice to have a GUI where users can find their settings like where the datadir is, where his keys are stored, log files are created and the full node version. With that informatio

[2016-05-27 13:50] oneala commented on #715
i have the same problem for about 2 weeks and still no fix.. i have tried anything..

[2016-05-27 14:14] undersun1 commented on #367
I am having the same issue - the ONLY way I was able to send ether was by shutting the program down and opening it again, and send the ether IMMEDIATELY upon opening the wallet.   Hope this helps...

[2016-05-27 14:34] Kurtbe commented on #389
I have exactly the same issue and have no clue... Running EW app 0.7.4. under Win 10.
My ETH's don't want to move. Confirmations do not happen and after time the transaction just dissapears. How to setup geth? To find out if 1.3.6 would be a solution.

[2016-05-27 14:43] undersun1 commented on #367
I tried to send again, and this time, I get 12 confirmations, but the ether never leaves my account!  This is really frustrating...

[2016-05-27 14:55] Kurtbe commented on #389
Oops, apparently, I am running 1.3.6...

[2016-05-27 15:19] artyma commented on #195
The same issue. Mist wallet stopped downloading blocks at 495 237 (4 days download). 0.7.4 (Beta 18) Windows 64bit

Any help?

[2016-05-27 15:22] HornKild opened #728 "Error: EACCES with electron-prebuilt@1.0.1"
OS: linux i686
Network type: main

Hello, I have an error when trying to install one of the dependencies :

[code]

Meteor installation is fine but **Electron-prebuilt** returns an error :

[code]

Any idea what check could I make ?

[2016-05-27 15:26] artyma commented on #109
The same issue. Mist wallet freezes downloading blocks on many occasions. I use the latest release for Windows 64bit.

Any help?

[2016-05-27 15:36] HornKild commented on #728
I get it working after deleting the .electron directory ! yeaah :)

[2016-05-27 15:36] #728 closed

[2016-05-27 16:07] Kurtbe commented on #389
I contacted The DAO forum and they recommended using 0.6.2. That did the trick.
So maybe it is a solution for you to... (I hope)
Greets, Kurt

[2016-05-27 16:48] Quazoo commented on #723
@luclu thanks. Indeed i had to readd the DAO token as watched. I can now again see and send the DAO tokens from the main account.

[2016-05-27 16:49] #723 closed

[2016-05-27 18:26] jordimorris commented on #695
exactly the same error windows that I had also running on win10 64bits.

What I did...
-removed the entire ethereum folder
-install ethereum mist 6.2 wallet
-blockchain data downloaded and validated in two phases, it took long but worht it

I'm ready for using dao tokens

keep us posted

[2016-05-27 18:28] bikerboy4489 commented on #389
Thanks @kurtbe I'll give it a go

James.

[2016-05-27 19:25] PacketSmuggler opened #729 "Many issues with 0.7.4 on OSX & DAO token purchase"
Node type: geth 1.3.6
OS: OSX
Network type: main
Mist version: 0.7.4

I funded an account and a wallet contract with 40kbits BTC each. Account has 1.70 in ETH, wallet contract got 1.67 - exchange rate volatility?

I can not transfer funds from the account to the wallet contract. Tried that multiple times, then funded the wallet contract directly.

When I attempt to send 1.5 ETH to The DAO token pu

[2016-05-27 19:38] PacketSmuggler commented on #729
To be clear here, I'm sending 1.50, it reports 0.00 after I approve, but the transaction shows up as -.150, as seen in the last shot.

And now, as I enter this, suddenly the earlier transaction from account to wallet contract AND the 1.5 sent for DAO tokens just cleared. Delay here was on the order of more than an hour. I chose cheapest for one transaction, speedy for the rest. Something is funny

[2016-05-27 19:51] taoteh1221 commented on #425
Can confirm cloning my hard drive over to an SSD drive in my laptop solved my out of sync issues quite nicely. Horray. :+1: :smile: Many thanks to @phonikg .

[2016-05-27 20:35] oneala commented on #695
OK @jordimorris , ill do the same right now! thanks!

[2016-05-27 20:44] oneala commented on #695
same thing.. i have deleted everything and started from scratch with 6.2 wallet https://gyazo.com/f0bfe93b3bb9c77b375d0a27807ce6fd

[2016-05-27 21:22] jamon2 opened #730 "How to Import Ethereum Wallet"
Node type: geth
OS: windows
Network type: main
Mist version: 0.7.4

I'm a total newbie. I downloaded the Ethereum Wallet this morning and deposited some Ether using Bitcoin, then sent some Ether to The DAO. While trying to copy my Ether address, the Ethereum Wallet hung up so I closed it. When I tried to reopen it I couldn't find an application file to open. I re-opened the Ethereum-Wallet applica

[2016-05-28 00:10] ethertothemoon commented on #720
Thank you for the detailed response!

[2016-05-28 03:16] phonikg commented on #425
Good to hear @taoteh1221 !! ...hopefully this contributes some ideas regarding this issue to the Dev's.  Or maybe they were already aware...

[2016-05-28 04:27] taoteh1221 commented on #425
@phonikg Or at least keeps them from having to answer to a lot of issue threads like this until they workout the heavy disk I/O watching contracts / tokens. It's a decent workaround.

[2016-05-28 10:09] Undland commented on #376
Upgraded to WIn 10, works well

[2016-05-28 13:50] mruepp opened #731 "OSX Notification that 0,0000001 DAO Token were sent to address...."
Node type: geth/eth
OS: osx
Network type: main/test
Mist version: 0.7.4

When I run the Mist wallet, it hangs occasionally. Two times now I got the OSX Notification that 0,000001 DAO Token get sent to some account which I was not able to see completely.

After that I clicked on the notification the wallet got focus but hang.  This is a very big concern for me.

Also the Wallet is basically not usa

[2016-05-28 14:37] Guido1234 opened #732 "Ehtereum Wallet on windows completely uselless, eats up 10 GB of memory is and completely inresponsive."
Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minumim.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide first, where we summarized a few of the known issues.

Add the following to issue, when possible:

- Screenshots
- Check the

[2016-05-28 14:45] Guido1234 opened #733 "Copy adress to clipboard does not work, copies nothing"
Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minumim.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide first, where we summarized a few of the known issues.

Add the following to issue, when possible:

- Screenshots
- Check the

[2016-05-28 15:07] Guido1234 opened #734 "The wallet is showing 9 times the amount of dao tokens i actually own !?!?!?!?!!"
Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minumim.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide first, where we summarized a few of the known issues.

Add the following to issue, when possible:

- Screenshots
- Check the

[2016-05-28 15:56] FaguiCurtain commented on #573
I wanted to setup AVAST to all files from the Ethereum folder would not be scanned but i couldn't find it in the list of folders when i wanted to customize the settings in AVAST

[2016-05-28 16:34] mruepp commented on #734
This is what happens when I manually import the Presales Wallet from DAO:

Passphrase:
panic: runtime error: slice bounds out of range

goroutine 1 [running]:
panic(0x4a9b5e0, 0xc820012090)
	/Users/jeffrey/goroot16/src/runtime/panic.go:464 +0x3e6
github.com/ethereum/go-ethereum/accounts.decryptPreSaleKey(0xc8203f1000, 0x1ea, 0x3ea, 0xc820011560, 0x12, 0x8, 0x0, 0x0)
	/Users/jeffrey/go/src/github.c

[2016-05-28 17:00] mruepp commented on #734
What I actually did was I copied the json on the DAO Website into a txt file and named it presale-wallet.json. Because i never had the option to download the wallet as a file.

[2016-05-28 17:13] Guido1234 commented on #732
![ethereum wallet memory usage](https://cloud.githubusercontent.com/assets/19624421/15628711/500380d0-2508-11e6-8399-bac7df0e06dd.PNG)

[2016-05-28 17:50] 9600- opened #735 "Mist showing 72.6498X my correct DAO token balance."
Node type: geth
OS: Windows 10
Network type: main
Mist version: 0.7.4

I hope this is me fundamentally misunderstanding something about the DAO token generation...

Setup a watcher and DAO contract according to the JSON and decimal figures provided by DAOHub. When viewing through Etherbase account, the correct token amount is shown.

When viewing through "contracts", token amount is 72.6498 times

[2016-05-28 18:39] badmoon64 opened #736 "Getting "The account you want to send from is empty" when sending DAO tokens"
Please help if you can.  I am trying to send my DAO tokens to a exchange.  I go to "Main account (Etherbase)" on the main screen.  It shows 0.0 Ether up top, and below that it shows "The DAO 100,000"
So all looks OK so far.  Then I click on "Send".  Another screen pops up:  "From" on the left says "Main Account (Etherbase)  0.00 Ether.  It the "o" box to the right I put the address I am sending to

[2016-05-28 18:41] badmoon64 commented on #736
Another thought.  I did not "add data" if that matters

[2016-05-28 19:06] badmoon64 commented on #736
[wallet pic.docx](https://github.com/ethereum/mist/files/287960/wallet.pic.docx)

[2016-05-28 21:13] calummaciver opened #737 "Block synchronisation on startup taking long time, progress not displayed correctly"
Node type: geth
OS: osx
Network type: main
Mist version: 0.7.4
Hardware/Bandwidth: SSD drive and 360 Mbit/s download

Have been trying to sync up my node for around 8 hours with a few restarts. Attached the logs from the latest restart. The progress bar is also incorrect which does not help - "Downloading block 1,571,748 of 1,549,976".

![screen shot 2016-05-28 at 21 55 00](https://cloud.githubuse

[2016-05-28 22:07] taoteh1221 commented on #735
Can confirm same exact issue here.

[2016-05-28 22:40] taoteh1221 opened #738 "Heavy Memory Leak"
Node type: geth
OS: linux ubuntu
Network type: main
Mist version: 0.7.4

See screenshot. This is on a 4GB RAM system. System froze right after I barely got this screenshot. Highest wallet thread RAM usage hit 2.6GB max before system froze. Mist wallet memory usage increased slowly over 3GB RAM used until system was not responsive.
![snapshot1](https://cloud.githubusercontent.com/assets/1760489/156

[2016-05-29 01:50] xMrWhite commented on #703
This behavior is inconsistent across OS X apps, see calendar vs safari
![Calendar](http://puu.sh/p8Du7/0ac0236755.png).
Notice the show spelling and grammar.
![Safari](http://puu.sh/p8D7L/5b4c647951.png)

[2016-05-29 02:27] taoteh1221 commented on #735
I just realized why it seems to be showing the wrong DAO token amounts: TheDAO itself seems to have tokens that were sent to it. It adds up the tokens that are in the dao contract itself, with whatever tokens you have in your accounts.

[2016-05-29 02:39] FaguiCurtain opened #739 "cannot send ETH or DAO Tokens from MIST. Unknown transactions shown. Wrong balances shown."
Node type: geth/eth
OS: MAC OS X 10.11.5 (ElCapitan)
Network type: main
Mist version: 0.7.4

Hello, please I really need your help !!

I start to have a long history of trouble with MIST.
my MIST could not sync, so i had to reinstall it from zero after saving keystore folder, and deleting everything. Finally it could sync, although AVAST is quarantining some files and i had to manually restore the

[2016-05-29 02:54] FaguiCurtain commented on #739
here are the etherscan links
http://etherscan.io/address/0x8C18906cA6133925281fc8e8d249eadCa22eD029
http://etherscan.io/token/TheDAO?a=0x8c18906ca6133925281fc8e8d249eadca22ed029

[2016-05-29 03:14] FaguiCurtain commented on #719
it looks like I have a similar problem, initially due to sending myself a wrong transaction ?

https://github.com/ethereum/mist/issues/739

[2016-05-29 03:17] alexvandesande commented on #739
Your computer is not compromised. All of those are known bugs, you happened to have all of them at the same time. The only real dealbreaked here I don't understand is why it's always confirming, it seems something wrong with your geth version.

Have you tried a previous version of the wallet?

[2016-05-29 03:19] FaguiCurtain commented on #739
In a previous problem (no sync) , i was told to install the latest version of GETH and MIST...I certainly don't want to reverse that.

[2016-05-29 03:20] FaguiCurtain commented on #739
i see that someone to solve his problem tried sending a higher amount of mone

[2016-05-29 03:38] FaguiCurtain commented on #739
small update:
i got a message from my MIST browser that some transactions were not executed
i'm trying to send a new 1 ETH transaction, still "confirming", no progress there

<img width="1106" alt="capture d ecran 2016-05-29 a 12 34 10" src="https://cloud.githubusercontent.com/assets/11316512/15631249/2c603320-259a-11e6-8916-88578a294872.png">
<img width="1101" alt="capture d ecran 2016-05-29 a 12

[2016-05-29 03:44] FaguiCurtain commented on #739
i hope its not due to a password / key problem and the ETH/DAO are still available to me...

[2016-05-29 04:07] KeyJockey opened #740 "SIMPLE Guide To Sending DAO "OUT" Of Poloniex..."
Hi Folks: Apologies IF this is covered elsewhere but I have srsly tried to look around a lot already, and not found *anything* helpful.

Simple Question (I think) : I just bought some DAO on Poloniex (totally on speculation, I admit, having heard a lot of positive buzz about the whole project) and I just *simply* want to *withdraw* them from Polo, and store them *safely* in my own wallet, or (pref

[2016-05-29 04:09] naut commented on #736
I had the same problem and found out why this was happening:

In order to send DAO tokens the wallet you're sending from has to have some ether to pay for the transaction cost.

It should tell you how much ether is needed in the send window.

Cheers.

[2016-05-29 04:17] badmoon64 commented on #736
Worked!   Thanks.

Sent from my iPhone

[2016-05-29 05:44] hautdoge commented on #738
I have the same issue in Windows 10 64bit. When I try to watch the DAO contract, the Wallet completely freezes, and I can see it eating up 10GB+ of my RAM

[2016-05-29 05:55] hautdoge commented on #735
I have the exact same issue and same platform (windows)

[2016-05-29 09:18] olivierstern opened #742 "Adding an authorise boolean for token transaction in multisig wallet contract"
It would be a great feature to add a boolean in the multisig wallet contract that prevent transaction of token without the confirmation requirements in order to protect the tokens owned by the contract. For the moment it is only possible to set a max ether per day. Since there might be many different tokens with different value, a simple yes or no authorization field to allow or prevent token tran

[2016-05-29 11:07] LeeBlues commented on #733
Linux 64 ubuntu 0.7.4 has same issue!!

[2016-05-29 13:13] bitcoinmeetups commented on #161
I was able to replicate the error yet another time. I removed the keystore, re-started Mist and was then  prompted to make an account password. I did so and exited Mist. Opened Geth. Tried to open the account with the password I generated minutes earlier and which I carefully wrote down. Incorrect password message.

[2016-05-29 13:14] bitcoinmeetups commented on #161
So far this issue has only occurred with the Etherbase account. Other accounts I have generated have not had any password issues.

[2016-05-29 15:50] daraosn opened #743 "Ethereum wallet froze and now shows unknown failed transactions"
Node type: geth
OS: osx
Network type: main
Mist version: 0.7.4

So last night, I upgraded from 0.7.2 to 0.7.4, after launching my Ethereum Wallet, it completely froze for some time. At the beginning when launching, it was responsive, but little by little it started to become slow until it rendered unresponsive.

<img width="939" alt="mist-wtf" src="https://cloud.githubusercontent.com/assets/102098

[2016-05-29 15:54] speedery commented on #733
same issue with Ubuntu 16.04 64bit

[2016-05-29 16:09] KeyJockey commented on #740
UPDATE: Okay guys, sorry -- never mind LOL

I found the DAO tab on MyEtherWallet and that worked very quick & simple for what I need.

Mist is cool but totally overkill for just this simple purpose, so thanks anyway but all good now... this issue post can be closed/deleted if you want (or maybe leave it just for info for other noobs like me who may be helped by it...)

[2016-05-29 17:58] jordimorris commented on #695
I forgot one thing to mention. As the error showed some messages regarding the cache, I also followed  some, not all of the following steps to clean the cache on windows 10.

http://www.makeuseof.com/tag/7-hidden-windows-caches-clear/

all the best mate

[2016-05-29 18:50] Undland commented on #733
same issue in Win10 x64. It can not be worse than this bug. When will he stop suffering from such childhood diseases?

[2016-05-29 19:09] Nogreedy commented on #733
Known issue - bug
#650
#690

[2016-05-29 19:17] linagee opened #744 ""Pick A Function" dropdown is black"
Node type: geth
OS: linux
Network type: main
Mist version: 0.7.4

- Screenshots
![screenshot_2016-05-29_13-12-19](https://cloud.githubusercontent.com/assets/636551/15635579/496c9df0-259f-11e6-86b7-38aa5ff1d63e.png)

If I wait for a long time, of course it gets really really slow. But if I quickly open Ethereum Wallet and pull down the Pick A Function, it's black.

I've had to use the --ignore-gpu-

[2016-05-29 20:23] speedery commented on #650
I have the same issue on Ubuntu 16.04 version 0.7.4

[2016-05-29 23:43] #577 closed

[2016-05-29 23:43] #576 closed

[2016-05-29 23:47] MrMontana opened #745 "ACCOUNT IN MIST WALLET LOCKED"
Node type: geth
OS: linux/windows
Network type: main
Mist version: 0.7.4

Hi All,

Last night I set up a contract to watch my token which in turn allows me to move it to exchanges and other wallets etc. When looking to move DAO from my Mist Wallet to Kraken it asked me to input my password...I did this 3 times incorrectly (which is an issue in itself) it then had a red block pop up that said the a

[2016-05-29 23:49] whitj00 opened #746 "Mist not syncing with Geth [Mac]"
Running ethereum-wallet on my mac, and when I open it up, it shows no sign of actually syncing and will not show any new blocks and will progressively increase the amount of time since the last block.  However, when I quit the wallet and actually run geth via cli, I'll see that it did sync, and the block info shown in mist's header isn't accurate.  If I check the log file under the develop tab, it

[2016-05-30 03:57] shawn-j commented on #732
the same thing happened to me after I unlocked an account..  mist got really slow, started sucking up all my ram.  I took this screenshot at 600MB; it eventually used up everything.  when I opened the console, mist started running fast again.

![untitled](https://cloud.githubusercontent.com/assets/19638200/15639394/0035f60e-25f9-11e6-8dd5-d5fbe49366a7.jpg)

[2016-05-30 04:36] rorman13 commented on #386
I agree richardsj but, I was able to get my money out and now I only use a small amount of ether on the wallet.  I am going to wait awhile before more of the bugs get worked out.  I hear Coinbase is going to handle ether so I might see if they have a storage function because I have never had any issues with my BTC on there.

[2016-05-30 05:14] shawn-j commented on #669
my password isn't working anymore.  it's the etherbase password.  it worked fine the first few times, now it doesn't.  passwords for all other accounts work fine.  here's a screenshot of the console when I try to do a transaction into another account.  there's a lot of errors so I know something's wrong.  is any other information needed?

![untitled](https://cloud.githubusercontent.com/assets/1963

[2016-05-30 07:17] SFIII opened #747 "Need Ethereum- Mist Wallet to run on OS X 10.8.5"
I'm not going to upgrade my computer and buy all new software just to run this wallet application. Thanks.

[2016-05-30 09:57] chevdor opened #748 "Allow watching the same contract several times"
This is a **Feature Request**, not an issue.

In the current version (0.7.4), when you add a new entry to watch a contract, you provide:
- name
- address
- json interface

If you decide to watch the same contract with another interface, it replaces the previous 'watch'.

I think it would be good a ADD a new entry instead of replacing the old.

In the context of the DAO for instance, one may want t

[2016-05-30 10:53] Cervenka opened #749 "Copying address does not copy to clipboard"
Node type: geth
OS: OS X 10.11.5
Network type: main
Mist version: 0.7.4

Using any of the methods of copying an address (keyboard shortcut, application menu, copy-address-button) result in the address being copied to the clipboard.

I see two notifications that the address has been copied. The content of the clipboard is the same is it was before.

[2016-05-30 11:39] m0se commented on #738
I can confirm this as well, strange enough that I didn't experience this with the same Mist/geth version on my old slow 4GB Debian MBA,.. but now on my new machine with 16GB one of the "Ethereum-Wallet" processe eats all my memory.

I as well watch Maker/theDAO token and contracts.

Node type: geth 1.4.4-stable-94ad694a
OS:Linux 4.5.0-2-amd64 / Debian stretch
Network type: main
Mist version: 0.7.4

[2016-05-30 11:40] webdevotion commented on #737
Also seeing this issue on Mac OS 10.11.5 with version 0.7.3.

![screen shot 2016-05-30 at 13 40 11](https://cloud.githubusercontent.com/assets/50583/15648624/10149ddc-266c-11e6-8420-92922dcfae5c.png)

[2016-05-30 12:19] luclu commented on #749
@Cervenka thanks for reporting. I will close this as it is a duplicate of https://github.com/ethereum/mist/issues/650

[2016-05-30 12:19] #749 closed

[2016-05-30 12:20] luclu commented on #733
Thanks for reporting. I will close this as it is a duplicate as @Nogreedy pointed out.

[2016-05-30 12:20] #733 closed

[2016-05-30 12:45] luclu commented on #730
@jamon2 I'm not quite sure what the question you have is.
You will find that the wallet-files are stored under `%APPDATA%\roaming\Ethereum` in a folder called `keystore`. There is also another folder called `chaindata` cointaining the replica of the blockchain. Those folders are persistent over any session regardless which version of the **Ethereum-Wallet** you evoked to start. There is no way you

[2016-05-30 12:45] #730 closed

[2016-05-30 13:14] luclu commented on #747
@SFIII the **Ethereum-Wallet** is build on top of **[electron-shell](http://electron.atom.io/)** which in turn leverages chromium and the VP8-Javascript-engine. According to [electron's docs](http://electron.atom.io/docs/development/build-instructions-osx/) OS X 10.8 is supported though I have no experience running on this legacy OS-version.
Furthermore Apple ceased the official support for Mounta

[2016-05-30 13:14] #747 closed

[2016-05-30 13:23] luclu commented on #744
@linagee thank you for reporting!
As I don't know about Electron/Chromium's internals let's try to isolate this issue.

1. Have you already been affected by this issue in earlier version of the Wallet?
2. What desktop-shell are you using?
3. Have you been changing its themes in the past?
4. Is this also happening using proprietary graphic-drivers (could rule out 2.+3.)?
5. Does this happen with *T

[2016-05-30 13:28] luclu commented on #745
This is a generic call-back alert you experienced. Which means that the `unlockAccount`-function - which will internally ask three times for a user-input - returned the current state of the locked account.
There is no timeout or grace period implemented so you are good to go and retry whenever you want to.
I will close this for now. Feel free to stay and discuss.

[2016-05-30 13:28] #745 closed

[2016-05-30 13:30] luclu commented on #734
Guys please don't hijack issues and take your time to file them.

[2016-05-30 13:30] #734 closed

[2016-05-30 13:32] luclu commented on #732
Thank you for reporting!
I will close this issue as it is a duplicate of https://github.com/ethereum/mist/issues/726.
Please feel free to append any new/missed out information over there.

[2016-05-30 13:32] #732 closed

[2016-05-30 13:41] alexvandesande commented on #748
This is a feature that will be better served by building a custom interface for the Mist Browser. We are not going to add complex contract features to the wallet

[2016-05-30 13:41] #748 closed

[2016-05-30 13:55] luclu commented on #703
thank you @xMrWhite this seems to be a different behaviour.

As it was working in `0.37.2`
and is broken in `1.0.1`.

<img width="355" alt="unbenannt-1" src="https://cloud.githubusercontent.com/assets/10135872/15651240/a5bd2126-267e-11e6-99f3-7773d1f0e6c1.png">

[2016-05-30 14:02] luclu commented on #746
@whitj00 thank you for reporting. You are totally right about your assumptions.
This is caused by a faulty event-listener that surfaced with **The DAO**. It simply can't cope with the sheer amount of its event. This will in the next release. For now - you are also right on that - unwatch the contract or revert to 0.6.2.
I will close this as a duplicate of https://github.com/ethereum/mist/issues/72

[2016-05-30 14:02] #746 closed

[2016-05-30 14:04] luclu commented on #376
awesome! Might have had some problem with some low-level system files. But I don't want to poke the dead.

[2016-05-30 14:04] #376 closed

[2016-05-30 14:07] luclu commented on #161
Another +1 for isolating this! I will try to reproduce this. What OS are you running?

[2016-05-30 14:34] luclu commented on #312
@pumpbreaks please update to version 0.7.4.

[2016-05-30 14:34] #312 closed

[2016-05-30 14:34] #310 closed

[2016-05-30 14:34] #347 closed

[2016-05-30 14:35] #394 closed

[2016-05-30 14:35] #358 closed

[2016-05-30 14:38] luclu commented on #387
@AMONRA75 I will close for now. Feel free to stay and continue discussing.

[2016-05-30 14:38] #387 closed

[2016-05-30 15:12] SingularDTV opened #750 ""Copy Address" no longer functions"
Apologies in advance for my ignorance of procedure.  I am not a developer, am new to Github and look forward to learning...

Node type: geth/eth
OS: osx
Network type: main
Mist version: 0.7.4

ALERT: We have multiple etherbase accounts and contract/wallets in our Mist interface.  We often send ETH between contracts/wallets internally.  Since the most recent update, we have been unable to "copy add

[2016-05-30 15:13] luclu commented on #750
@SingularDTV thanks for reporting. I will close this as it is a duplicate of https://github.com/ethereum/mist/issues/650

[2016-05-30 15:13] #750 closed

[2016-05-30 15:14] luclu commented on #738
Thank you for reporting!
I will close this issue as it is a duplicate of https://github.com/ethereum/mist/issues/726.
Please feel free to append any new/missed out information over there.

[2016-05-30 15:14] #738 closed

[2016-05-30 15:20] luclu commented on #731
Thank you for reporting @mruepp. Please have a look at https://github.com/ethereum/mist/issues/726
I will close this for now as a duplicate.

[2016-05-30 15:20] #731 closed

[2016-05-30 15:21] #740 closed

[2016-05-30 15:21] bas-vk commented on #715
Could you download and try the latest geth version? You can find it [here](https://github.com/ethereum/go-ethereum/releases). Download it and start it with `geth.exe` (no arguments). You should see simular output as in your screenshot. If everything works as intended something like `IPC endpoint opened...` will appear. In that case you can try to start the wallet (version 0.7.4) and see if that wo

[2016-05-30 15:23] luclu commented on #742
@olivierstern Thank you for this idea. Although you better post this suggestion on the wallet-dapp's repo [link](https://github.com/ethereum/meteor-dapp-wallet). I will close this one here!

[2016-05-30 15:23] #742 closed

[2016-05-30 15:26] #736 closed

[2016-05-30 15:29] luclu commented on #735
This will be fixed in the next release.
I will close this as a duplicate of https://github.com/ethereum/mist/issues/608.

[2016-05-30 15:29] #735 closed

[2016-05-30 15:35] luclu commented on #737
Thank you for reporting @calummaciver!
As this is a know issue: https://github.com/ethereum/mist/issues/504 I will close this as a duplicate.

@webdevotion could you kindly reopen your comment as a new issue?

[2016-05-30 15:35] #737 closed

[2016-05-30 15:54] luclu commented on #195
@artyma please tryout the latest version of **geth** [(link)](https://github.com/ethereum/go-ethereum/releases).

[2016-05-30 16:19] mruepp opened #751 "Unable to import DAO Wallet into MIST with or without GUI"
Node type: geth/eth
OS: osx
Network type: main/test
Mist version: 0.7.4

OK, here´s a new issue:
What I actually did was I copied the json which was revealed as text (when one clicked on the Download Button after selected "create new eth wallet" on the DAO Website into a txt file and named it presale-wallet.json. Because i never had the option to download the wallet as a file.
This is what happens

[2016-05-30 17:16] luclu commented on #751
This looks quite interesting. @bas-vk
Perhaps related? https://github.com/ethereum/mist/issues/714

[2016-05-30 18:18] chevdor commented on #748
ok, where is the repo for the "Mist Browser" so I can fill that in?

[2016-05-30 18:20] nikolaygit commented on #468
same issue ([screenshot](https://scr.hu/GYNvd6)) after downloading 0.7.4 and starting Ethereum-Wallet.exe. Environment:
* Windows 10 64bit
* Ethereum-Wallet-win32-0-7-4

[2016-05-30 19:49] oneala commented on #715
@bas-vk i just downloaded geth and started it and i think is running and downloading the blocks, here is a screenshot https://gyazo.com/c15b7e09d032defa04b383328c7749c8

Should i leave it to finish downloading or i can close it and start the wallet?

thanks!

[2016-05-30 20:11] dennyuel commented on #743
Have the same problem, plus my DAO token balance isn't correct either...

[2016-05-30 20:39] SFIII commented on #747
Just simply that there's a circle with a line across it and I'm not
permitted to open or install it.  Yes, Apple ceased support but a lot of
people still use Mountain Lion. AND it is still supported by all major
software companies which means that I dont' have to upgrade (yet) and I
get a mostly trouble-free operating system. Upgrading often means that
software stops working, and when you are inve

[2016-05-30 21:06] szormok10 opened #752 "Starting Wallet and immediately crash (yesterday was okay)"
I use the newest wallet for 2 weeks. Yesterday I have started mining (wallet still working) and today was the first payout (I don't know it is important or not, just few information).

Today I want to start wallet and appear only 2 second "starting ethereum node" and quit. I have tried older version, restart, reinstall, full uninstall etc. The problem still exist.

Please help me or give me some t

[2016-05-30 22:50] luclu commented on #752
@szormok10 please try to switch to **geth** as a backend as the integration of **eth** is currently only experimental and several bugs are know: https://github.com/ethereum/mist/issues/607
I will close this for now. Feel free to stay and discuss.

[2016-05-30 22:50] #752 closed

[2016-05-30 22:52] luclu commented on #468
@nikolaygit The win32 binary of **Ethereum-Wallet** comes without bundled node as win32 is not officially supported by geth. Make sure to download the 64bit binary!

[2016-05-31 00:15] FaguiCurtain commented on #739
and now, to make matters worse, i tried to open MIST again today, and send a higher volume transaction to Polo . This time it didn't accept my (complex) password. I typed it twice. I didn't want to try one more time because i was afraid it would lock my account. I am now waiting for instructions to do anything

[2016-05-31 02:40] FaguiCurtain commented on #739
ok some of the issues are solved, not all of them:

i can now send transactions (whew !!!). I don't know why suddenly its possible. I tried sending a transaction with a higher quantity and higher fee and it went in immediately. However i don't see the transactions above as being executed at the same time the new one went it.

I still see transactions which don't belong to me, and one screen is sho

[2016-05-31 02:50] FaguiCurtain commented on #743
see here
https://forum.daohub.org/t/transactions-that-i-dont-recognize-showing-up-in-mist/3695/13

[2016-05-31 05:47] datashaman commented on #715
leave that running in one window and start the wallet. usually the wallet starts that process on its own if it's not running, but I've had issues with the latest versions not being able to connect to the geth process. It looks like there's a very long time after report that synchronization has started and the next line is output. I think the app is hitting a timeout.

[2016-05-31 06:08] datashaman opened #754 "Mist interface crashes with segfault"
Node type: geth
OS: linux
Network type: main
Mist version: master / 42681e758f5821d42f0e5ddb96fec2d6df3d33d4

I tried the instructions (here)[https://github.com/slockit/DAO/wiki/How-to-turn-the-Ethereum-Wallet-into-a-Mist-Browser-to-use-the-Voting-Interface#Windows] using a git clone of this repo.

I could not get the app to work with dev instructions, so built the linux version using:

    gulp m

[2016-05-31 06:10] datashaman commented on #754
I have tried reset-tabs, same problem.

[2016-05-31 09:43] luclu commented on #701
I will close this for now.

[2016-05-31 09:43] #701 closed

[2016-05-31 11:53] bitcoinmeetups opened #755 "When changing --datadir location to external SD card in Geth, Mist will not start"
When changing --datadir location to external SD card in Geth, Mist will not start.

There are at least two questions on ethereum.stackexchange.com regarding this issue already.

Mine:

http://ethereum.stackexchange.com/questions/4472/i-run-geth-with-this-command-when-i-try-to-start-mist-i-get-this-error-message (ignore the blockchain corrupt thing, Geth is running fine so that is probably an irrel

[2016-05-31 12:39] GitJeffHub opened #756 "Node Crashed, please create an issue...."
Node type: geth
OS: windows
Network type: main
Mist version: 0.0.0

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minimum.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide first, where we summarized a few of the known issues.

Add the following to issue, when possible:

- Screenshots
![image](https://cloud.githubu

[2016-05-31 13:17] datashaman commented on #754
Any tips on how to reset Mist's config or preferences without losing any account info?

[2016-05-31 15:26] luclu commented on #756
@GitJeffHub please specify which version you tried to run.

[2016-05-31 15:27] #691 closed

[2016-05-31 15:35] luclu commented on #755
@bitcoinmeetups as Mist leverages IPC-sockets it won't be able to connect to geth if the sockets location (in the datadir) has been changed from its defaults.
There are several ways you can go about this:

1. use symlinks to point to the new location `ln -s`
2. leave geth's `--ipcpath`-flag pointing to the default location
3. build from `develop`-branch as this includes the possibilty to pass thos

[2016-05-31 15:35] #755 closed

[2016-05-31 17:15] Drummz commented on #701
I am on tour and i didnt try it yet. I will let u know if it works. Thank you

--
Lep pozdrav/Kind regards/Atenciosamente

Anže Žurbi – Zurby

musician, independent cultural worker, drum teacher, ambassador at Different Company, endorser at Manicdrum Company, independent LEO member

Phone:
SI - 00386 40 552 884
BRA - 0055 11 97555 3221
Mail:
zurbydrums@gmail.com,
zurby@different-eye.com,
Zurby@leo

[2016-05-31 20:11] oneala commented on #715
@datashaman thanks! right now i am using geth.exe to update chaindata also i am able to start the wallet. ill post an updated once everything is done.

thanks!

[2016-05-31 20:15] luclu commented on #646
`7.0.2` will be included as of PR https://github.com/ethereum/mist/pull/721.

[2016-05-31 23:10] Jacck commented on #468
I have same problem (on Windows 7, 64 bit). Previous versions have worked fine. Should I reinstall geth for Homestead version?

[2016-05-31 23:26] luclu commented on #468
@Jacck make sure you are using the latest version 0.7.4 win 64bit. This comes bundled with geth 1.4.5.
If you are using an external geth-node update that one too.

[2016-06-01 01:58] hiddentao opened #758 "Regular release cycle - ship early, shop often"
I propose that we release regularly with Mist, specifically **every 2 weeks or every month**. My rationale for this as follows:
- Releasing regularly keeps us on our toes in ensuring that the product is continually fit for purpose
- It users confidence in us, knowing that they will get an improved product soon
- It makes the internal progress we make on Mist clearly visible to the external world v

[2016-06-01 02:04] hiddentao commented on #758
Right now we have milestones 0.7.5 and 0.8, with all long-term work happening in 0.8. This can be kept as is. What I'm saying that after 0.7.5 is out we should do the next short term release(e.g. 0.7.6) soon afterwards, and so on.

[2016-06-01 03:31] tjjc commented on #468
Same problem. Windows 7 64 bit and updated to 0.7.4 win 64bit.

[2016-06-01 07:03] bas-vk commented on #715
Thx for reporting back, glad dat it did work for you.
@jordimorris, could you try the same?

[2016-06-01 07:21] jordimorris commented on #715
@bas-vk after re-installing, purging cache and re-downloaded the whole chain data it works that well that I don't dare to touch it. 6.2 up and running and won't upgrade until a better version is relesed. Good to keep following this post!

[2016-06-01 09:23] larspensjo commented on #738
This report (memory leak in Mist) is not the same as #726 (memory leak in geth).

I added theDAO as a watch contract, Mist got unresponsive, and is currently using 17GB of RAM.

[2016-06-01 10:02] luclu commented on #738
@taoteh1221 This is caused by an unoptimized event-handler which bombardes geth with requests. Both issues are the same although the title of #726 is misleading.

[2016-06-01 10:10] luclu commented on #468
@tjjc did you extract the zip? Could you confirm that `geth.exe` is located in `recourses\nodes\geth\geth.exe`?

[2016-06-01 10:41] nikolaygit opened #759 "Change data folder"
How can a user change the data folder?

Reasoning: if the drive on which the data folder is currently stored does not have enough free space the user cannot use Mist browser.

[2016-06-01 10:50] racer8 commented on #229
Not a duplicate - other thread is for Linux

[2016-06-01 11:15] luclu commented on #759
Please use the search before filing an issue:
https://github.com/ethereum/mist/issues/572
https://github.com/ethereum/mist/issues/270
https://github.com/ethereum/mist/issues/755
https://github.com/ethereum/mist/issues/682

[2016-06-01 11:15] #759 closed

[2016-06-01 11:41] AlmostConsultant commented on #739
I confirm to have my wallet in the same state in windows 10 (wrong token balance, showing foreign transactions going to dao address, mist rewriting recipient address by the dao one). My wallet on another computer is the same, except it shows correct balance of tokens.

[2016-06-01 13:30] nikolaygit commented on #759
thanks! Now I know better which keywords I should have used.

[2016-06-01 13:47] tjjc commented on #468
I did and yes it is there. Here is the error I get trying to run geth.

[image: Inline image 1]

Timothy Crimmins
CMIO ColumbiaDoctors

On Jun 1, 2016, at 6:10 AM, Luca Zeug <notifications@github.com> wrote:

@tjjc <https://github.com/tjjc> did you extract the zip? Could you confirm
that geth.exe is located in recourses\nodes\geth\geth.exe?

—
You are receiving this because you were mentioned.
Rep

[2016-06-01 14:56] efox29 opened #761 "Accounts missing from 0.7.4"
Node type: geth
OS: windows
Network type: main
Mist version: 0.7.4

I've been using mist 0.6.1 and 0.6.2 since I reported issue #525. I've had watch contracts up for the DOA. I have not deleted them.

I recently upgraded to 0.7.4 and it asked me to create a new account (as if this was the first time), and I did. After a few days of hangs, today I was finally able to get into the wallet. However, n

[2016-06-01 14:58] luclu commented on #761
@efox29 are these fife files located under `%APPDATA%\roaming\Ethereum\keystore`?

[2016-06-01 17:45] taoteh1221 commented on #738
@luclu I agree with you, it was @larspensjo who said it was different, not me. When I created this issue I only saw geth in the subject line on that other issue, so I though it was separate.

[2016-06-01 17:50] efox29 commented on #761
@luclu correct.

[2016-06-01 19:51] alexvandesande opened #762 "Gulp doesn't build with correct icon"
Node type: geth
OS: osx
Network type: n/a
Mist version: develop branch 0.7.4-5

When running `gulp` or `gulp wallet` the Mac App doesn't include the correct icon. It seems that the issue if with the electron version. When I change ```gulpfile.js``` line 39 from ```var electronVersion = '1.0.0';``` to ```var electronVersion = '0.37.2';``` it will deploy the icon correctly.

Of course we'd like to k

[2016-06-01 20:02] SteveLongoria opened #763 "Mist frozen/Won't Sync"
I can't access my mist wallet since it won't sync!

Node type: geth/eth
OS: linux
Network type: main
Mist version: 0.7.4, 0.7.3, 0.7.2

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minumim.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide first, where we summarized a few of the known issues.

Add the following to

[2016-06-01 20:33] rafajafar opened #764 "Is there a way to get ETH out of mist wallet contract w/o syncing"
Syncing takes way too damn long, even with --fast after removedb it's shit the bed on me three times after a small internet blip on my end. I'm fed up. How do I get my ETH out of the contract wallet given the json wallet I have?

[2016-06-01 23:11] #425 closed

[2016-06-01 23:28] JRogiest commented on #764
Use the following site https://www.myetherwallet.com/#send-transaction
No need to sync, select JSON format, input PW and send it to where you need it to go /new address...

[2016-06-01 23:32] luclu commented on #738
@taoteh1221 my fault! sorry for that ;=)

[2016-06-01 23:40] taoteh1221 commented on #738
@luclu No problem, thanks for all your hard work! :-)

[2016-06-01 23:48] luclu commented on #763
@SteveLongoria could you please post the log after running version 0.7.4?
Also try to run `geth --nat=none` and upload its output.

[2016-06-01 23:50] luclu commented on #715
Thanks @jordimorris.
I will close this for now but feel free to.. you know the drill.

[2016-06-01 23:50] #715 closed

[2016-06-01 23:52] #764 closed

[2016-06-02 00:17] GriffGreen commented on #746
This is happening in 0.6.2 for me as well.. but --mode mist works as well

[2016-06-02 01:52] rafajafar commented on #764
I tried that yesterday but the money in the JSON wallet was less than the contract wallet. There isn't a JSON wallet for the contract created by Mist that is associated with the main wallet.

[2016-06-02 02:29] rafajafar commented on #764
This is my JSON wallet: https://etherscan.io/address/0xcbfcf709040fac1a445d23b34cfc8be620a92f78

This was created as a "contract" wallet or something from Mist: https://etherscan.io/address/0xd042a7920b6fdf93e8842794d3c932d6cd4d36ad

I don't have a JSON file for that contract. How do I get that ether out?

[2016-06-02 11:02] mico opened #765 "Cannot hide Mist window in Mac OS X using cmd-H"
Node type: geth
OS: osx
Network type: main
Mist version: 0.7.3

Cannot hide Mist windows by choosing "Hide Mist" in menu or using cmd-H hotkey.
It's only application on Mac OS X which didn't support this feature.

[2016-06-02 11:04] luclu commented on #765
@mico please update to the latest version 0.7.4 as this feature was introduces only recently.

[2016-06-02 11:04] #765 closed

[2016-06-02 13:26] alexvandesande commented on #608
Fixed on develop

[2016-06-02 13:26] #608 closed

[2016-06-02 13:41] m0se commented on #622
Since I changed to a different environment and can't reproduce it there and no one else seems to be affected by this, I'm closing this issue.

[2016-06-02 13:41] #622 closed

[2016-06-02 15:01] ziomar1 commented on #763
same issue and
geth gives me "command not found"

[2016-06-02 15:26] dragonu19 commented on #367
hi!
I am new at this, please help.
I sent some eth from kraken to my mist wallet but the account is not yet sync. have I lost the ETH or I have to wait for full sync? after 20 hours I still have 900 000 blcks left to sync and 0 ETH in my account.
Thank you!

[2016-06-02 17:01] dragonu19 commented on #425
Hi guys,
I am new to this, pls help.
I did not sync my mist wallet and I transfered some eth from kraken to my wallet. It's showing me 0 eth. I try to sync but is very slow.. after 20 hours I still have 900 000 blocks left. Have I lost the eth that I trasfered or I must wait full sync (a few days I think) ?
Thank you!

[2016-06-02 17:06] dragonu19 opened #766 "mist wallet sync"
Hi guys,
I am new to this, pls help.
I did not sync my mist wallet and I transfered some eth from kraken to my wallet. It's showing me 0 eth. I try to sync but is very slow.. after 20 hours I still have 900 000 blocks left. Have I lost the eth that I trasfered or I must wait full sync (a few days I think) ?
Thank you!

[2016-06-02 17:08] JRogiest commented on #425
@dragonu19 Lots of info regarding your problem online. Don't panic - just check further and search. It's a great way to learn.... But it's not lost as long as you used the correct address for the transfer. Your mist wallet just needs to synchronise. Patience my friend and as soon as it is done your Ether will appear. Alternatively, You can also check your address on a blockexplorer.

[2016-06-02 17:12] JRogiest commented on #766
@dragonu19 Lots of info regarding your problem online. Don't panic - just check further and search. It's a great way to learn.... But it's not lost as long as you used the correct address for the transfer. Your mist wallet just needs to synchronise. Patience my friend and as soon as it is done your Ether will appear. Alternatively, You can also check your address on a blockexplorer. Feel free to c

[2016-06-02 17:14] JRogiest commented on #763
@ziomar1 Install geth first. https://github.com/ethereum/go-ethereum/wiki/Building-Ethereum

[2016-06-02 17:34] ziomar1 commented on #763
I tried already but got error at the end of procedure
make: *** [geth] Error 2

and it does't work
don't know what to do

[2016-06-02 18:47] shawn-j commented on #669
my first comment was deleted, I contacted support, could not get an answer as to why.  so mods: let me know if i'm braking any rules!

my etherbase  password doesn't work anymore.  used to work.  other account passwords work fine.  I've tried everything listed above and they don't work. is this a bug? is there any info I need to paste here?  thanks

[2016-06-02 18:48] luclu commented on #763
@ziomar1 you don't need to compile anything yourself! Please use the binaries we released. If you just want to use the [**Ethereum-Wallet**](https://github.com/ethereum/mist/releases) take this link and use the version corresponding to your OS - beware that win32 comes without **geth** bundled - all other binaries are bundled with **geth** `1.4.5`.
If you instead want to use the client standalone

[2016-06-02 19:16] ziomar1 commented on #763
did everything already

I'm with ubuntu and the last version of your mist wallet and I can tell you that sync with the blocks is an INFINITE procedure, if you kindly can pont me how to speed up this procedure it will be fantastic, else I have to giveup because I can't keep my computer on for 3 months.

Yhank you

[2016-06-02 19:46] luclu commented on #764
@rafajafar your balance might be inconsistent if you are not fully synced.
Also wallet contracts don't depend on any seperate json-file as only the private key of the owner account can access its funds. There might be no easy way out without fully syncing. Otherwise you will need some command-line magic.

[2016-06-02 19:49] luclu commented on #766
I delete the duplicate posts. Please don't hijack non-related issues in the future.

[2016-06-02 20:07] rafajafar commented on #764
Well I mean, I tried to rebuild the entire database with --fast, but around block 720,000 it started taking minutes to process each batch of blocks. Up to that point it was fine. I resync'd my clock, tried all the tips in the issues here for Window 10 (including page file adjustments), and I even sacrificed a chicken in a hoodoo ritual.

The same thing happened when I tried downloading the block c

[2016-06-02 20:09] rafajafar commented on #764
Windows 10 Pro
Core i5
8gigs RAM passed  shallow RAM test this morning.
Spinning disc hard drive... NOT solid state.
No malware detected last night.
Mostly just chrome and google services competing for space.

[2016-06-02 21:59] luclu commented on #764
The first 500.000 blocks will sync much faster then the later ones due to the increasing number of transactions. This can get very slow when using a mechanical HDD as this issues summurizes: https://github.com/ethereum/mist/issues/518

This will be improved in the future. Also look out for Light-client-functionality though this won't be available in the short term.

👎 for the poor chicken... serio

[2016-06-02 22:12] rafajafar commented on #764
Chicken was mostly for fun... did it still in the off-chance it worked. He wound up being very delicious.

Alright wellll, this is a big pain. Is there a service, maybe via Azure, that you know of where I can log into a full chaindata?

[2016-06-02 22:23] luclu commented on #764
I personaly have no experience with Azure but it could be worth a shoot. Though be dedious...

[2016-06-02 22:26] rafajafar commented on #764
Yeah I mean if I can just get the ETH from the contract wallet to the main wallet, I'd be set. I'll have to look into that RPC thing. Thanks.

[2016-06-02 23:33] AlessandroCrepaldi commented on #763
On ubuntu I synced my node using geth --fast and it completed in a reasonable time.

After 3 days I opened mist and it took just the time to catch up with the missed blocks.

Note that if you want to use the --fast option you need to have a "brand new" data file. I think mist will look for the default one (correct me pls) so I would just take a backup copy of what you got so far on an SD/Usb and g

[2016-06-02 23:51] ziomar1 commented on #763
the main thing is that if I try to type geth --fast to my terminal, it simply says "command not found" even if as I said I install it already

[2016-06-03 00:03] AlessandroCrepaldi commented on #763
zio, have you tried to follow the instructions here :

https://github.com/ethereum/go-ethereum/wiki/Installation-Instructions-for-Ubuntu

for the installation on ubuntu ? - what happen if you type `whereis geth` or `where geth` ?

[2016-06-03 00:26] ziomar1 commented on #763
Yes I followed those instructions,

if I type whereis geth I get "geth:" and nothing more, quite weird

[2016-06-03 04:31] i90rr commented on #557
UPDATE: after syncing the blockchain for some time the process stalled so I closed Mist and upon launching it again I got the same SIGKILL error posted previously.

For now I'm switching to the Linux version until I have more spare time to dig what's happening here.

[2016-06-03 04:31] #557 closed

[2016-06-03 08:29] AlessandroCrepaldi commented on #763
what about `sudo geth` ? same issue ? ... it's really quite weird ... can you locate geth from the mist installation ?

[2016-06-03 11:09] techyeth commented on #736
HI,
can i know the reason behind i am not getting my ether balance,,instead i follow the same process,,i really get stuck.:)

[2016-06-03 14:16] ziomar1 commented on #763
I redid all the installation procedure from the beginnig and not it geth works!

I'm running geth --fast
I would like to ask you how long is a "reasonable time"

Thx

[2016-06-03 14:18] luclu commented on #763
Good to hear. About 6-40 hours depending on your hardware configuration.
Thanks @AlessandroCrepaldi 👍

[2016-06-03 14:18] #763 closed

[2016-06-03 14:22] dominik42 commented on #573
unfortunately, only the hard tour works for me:
1) exclude ~/Library/Ethereum/chaindata from Avast file system scan (Avast / Settings / FileSystemScan / Settings)
2) delete the whole blockchain in ~/Library/Ethereum/chaindata
3) restart Mist / Ethereum  Wallet

[2016-06-03 14:29] buzjay opened #770 "Problem sending Ether out of Myst - 0/12 Confirmations... ?"
Wallet 0.7.4 (Beta 18)

I'm quite new in Ether trading, but I want to sent Ether on my Myst wallet to Kraken Exchange. For this I enter the Kraken Account adress code, select all my ether, minimum fees (tried also on maximum / quickest method)...

After process, a line appear in the bottom of my wallet with the transaction, 0/12 Confirmation and nothing change for,5 minutes, after 5 minutes this l

[2016-06-03 14:31] FaguiCurtain commented on #573
@dominik42
when i go to Avast, strangely i don't see ~/Library/Ethereum/chaindata in my folders, so i cannot select it... why is it so ???

[2016-06-03 14:35] dominik42 commented on #573
~/Library is hidden by default so press Shift-Cmd-Dot ('.') within the open file browser window. That makes the hidden files and directories visible immediately.

[2016-06-03 14:42] FaguiCurtain commented on #573
I'm seeing ~/Library but I'm not seeing /Ethereum inside it

[2016-06-03 14:49] dominik42 commented on #573
I'm using ethereum wallet 0.7.4 on Mac OS X 10.11.5 (El Capitan) and /Users/<your-user>/Library/Ethereum seems to be the default datadir. Did you configure another one, e.g. via --datadir

[2016-06-03 15:00] FaguiCurtain commented on #573
using the terminal i can see the directory, but inside Avast, i cannot see it

[2016-06-03 16:16] nikolaygit commented on #770
same problem. Screenshots attached.
* create a transaction
* it appears under latest transactions: http://scr.hu/0qept/22qry
* after few seconds/minutes "No transactions yet": http://scr.hu/0qept/jejau + the amount of Ethers that I had before creating the transaction is the same.
* Log file screenshot: http://scr.hu/0qept/nbbpq

Environment:
* Windows 7 64bit
* Ethereum-Wallet-win64-0-7-4

[2016-06-03 19:01] Mang00 opened #771 "Block Sync starts evertime from the beginning"
Node type: geth
OS: windows
Network type: main
Mist version: 0.7.4

In the last week i downloaded the Node-Block several times and everytime its says its finished. Then i click on lunch app and then my wallet starts the sync from the beginning (Block 1 of 1mio). I synced it with cmd geth--fast without fast , with the normal wallet sync and always the same shit. I have to download the blocks new. I

[2016-06-03 19:05] Mang00 commented on #771
In the screenshot the path of the chain is not correct but that is just because i copied the folder before everything is deleted again

[2016-06-03 21:50] justinireland opened #773 "Mist keeps freezing during sync"
OS: windows 7 x64
Network type: main
Mist version: 0.7.4

Every time I launch mist it starts downloading the blocks but after no more than 10 minutes it freezes on a block. If I close and restart it will pick up syncing where it left off but after ~10m it freezes again.

To clarify, the program itself still shows as responding in the process manager so it isnt frozen at the system level but it doe

[2016-06-03 22:26] luclu commented on #771
@Mang00 from the logs it doesn't look like it is syncing from the beginning rather it is continuing at the last block - number 151,496 since the last launch of geth.
But the progressbar will always start from the beginning. Just hang in there.

[2016-06-03 22:26] #771 closed

[2016-06-03 22:27] luclu commented on #773
@justinireland are you by any chance watching the "The DAO"-contract?
Also does this happen if you leave the splash-screen open or only on the main GUI?

[2016-06-03 23:42] justinireland commented on #773
I haven't even gotten as far as to view anything as this happens during the
initial loading of the application.

On Fri, Jun 3, 2016 at 6:27 PM, Luca Zeug <notifications@github.com> wrote:

[2016-06-04 02:01] shawn-j opened #774 "password no longer working, other passwords work fine"
Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

I'm a noob so i hope i did this right lol

My etherbase password worked fine for import, and for the first few transactions.  Now it doesn't work at all, in any version of mist or geth, 32 & 64 bit.  Other passwords all work fine.  Is this a bug?  What info do i need to paste here to help?  Thanks

[2016-06-04 04:32] SteveLongoria commented on #763
[logfile.zip](https://github.com/ethereum/mist/files/298682/logfile.zip)

[2016-06-04 07:17] nikolaygit commented on #770
my transaction just completed by itself, after 13 hours delay ...

[2016-06-04 07:20] cbeny commented on #770
The exact same happened to me on OSX. My transactions also reappeared just now suddenly with 9 confirmations (I had sent them only about 15 minutes ago).

[2016-06-04 09:55] JHenriqueVissotto opened #775 "Mist dosn't open"
Node type: Ethereum Wallet
OS: windows 7 64
Network type: main
Mist version: 0.7.4

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minumim.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide first, where we summarized a few of the known issues.

Add the following to issue, when possible:

- print: http://s33.postimg.

[2016-06-04 10:52] luclu commented on #775
@JHenriqueVissotto make sure to use the binary corresponding to your OS - the win32 one is not bundled with a node - as we don't officially support win32 yet - only the 64bit.

[2016-06-04 13:27] JRogiest commented on #773
Until they workout the heavy disk I/O  a HDD would likely result in a slow down/stand still depending on the hardware used. Current work around is to install the blockchain on a SSD.

Other work around is to download blockchain using the terminal command line geth --fast

[2016-06-04 15:40] justinireland commented on #773
Same thing happens when I run geth --fast. After a few minutes it freezes.

[2016-06-04 16:19] efox29 commented on #761
@luclu do you have any suggestions ? I'd like to collect my DAO tokens so I can participate but I am still unable to get access to my wallet which I've used to buy DAO tokens.

[2016-06-04 17:47] aross commented on #773
I have a SSD and this happens to me as well (I'm on a Mac).  If I close and re-open the app, the sync picks up where it left off, but then freezes and some point again.  I generally have to close/re-open the app 10-20 times before the sync finishes and I can use it.

[2016-06-04 19:44] tjjc commented on #468
Solved: i was getting a db error in dapp when i tried to run geth manually
1) deleted dapp folder from C:\Users\AppData\Roaming\Ethereum
2) manually started geth and it launched
3) started and synced wallet
4) can only start wallet if geth is started manually first

[2016-06-04 21:17] luclu commented on #761
@efox29 if you regard yourself as tech-savvy you I would love you to open up the dev-console in **Ethereum-Wallet** `0.7.4` by hitting `Ctrl+Alt+i` and type `web3.eth.accounts`. Does this show all of your account addresses?

If not please try those two things:
1. Create a backup of the `keystore`-folder and remove the `%APPDATA%\Ethereum`-folder, restore the keyfiles after that. You might have to

[2016-06-04 22:33] Jacck commented on #468
@tjjc Thank you. One more thing. I had to synchronize time on my computer (Windows 7) with Internet time (in time settings).

[2016-06-04 22:39] swt83 commented on #773
Same issue for me on OSX.  Freezes partway through sync.  Rolling back to 0.7.3 seems to solve the issue.

[2016-06-04 23:34] kungfualden commented on #650
Thanks everyone for the contributions. I'm lucky I found you guys. I was totally lost and a bit frustrated.

[2016-06-04 23:53] JHenriqueVissotto commented on #775
Of course!!!

The problem isn't in my computer not...

[image: Imagem inline 1]

2016-06-04 7:52 GMT-03:00 Luca Zeug <notifications@github.com>:

[2016-06-05 08:02] luclu commented on #775
Make sure you are timesynced with a ntp-server.

[2016-06-05 10:48] zhuga opened #777 "Fatal"
Node type: geth
Network: main
Platform: linux (Architecure x64)

...I0605 10:14:27.777503 cmd/utils/flags.go:687] You're one of the lucky few that will try out the JIT VM (random). If you get a consensus failure please be so kind to report this incident with the block hash that failed. You can switch to the regular VM by setting --jitvm=false

I0605 10:14:27.782693 ethdb/database.go:82] Alloted 51

[2016-06-05 10:51] luclu commented on #777
Hi @zhuga, could you kindly reopen this issue on [go-ethereum's issue tracker](https://github.com/ethereum/go-ethereum/issues)?

[2016-06-05 10:51] #777 closed

[2016-06-05 15:36] LukaszOls opened #778 "Latest mist freezes 90s after startup if "The DAO" is added to watched contracts."
Node type: geth
OS: windows 8.1 64-bit
Network type: main
Mist version: v0.7.4

This seems to be affecting large number of users and is a known issue. Allegedly downgrading Mist to version 0.6.2 helps is go away. However, I didn't see this problem here in the list of issues therefore I add it as such issue makes the current version of mist unusable to everyone who has the DAO contract added.

In a

[2016-06-05 15:47] LukaszOls commented on #778
I'm also adding the console from Mist. It remained responsive for few seconds while the issue was ongoing and it seemed to log a a lot of warnings shown below (I have no idea if this is helpful or not - If someone asks me I can perform some other tests).
![image](https://cloud.githubusercontent.com/assets/19762237/15806539/36bb2dd6-2b3d-11e6-9a23-945d53840207.png)

[2016-06-05 16:46] Gondee commented on #389
Can anyone confirm 0.6.2 solves the issue?

Best,
Josh

[2016-06-05 17:43] bikerboy4489 commented on #389
Hi Josh,

I'm still stuck with this situation. When I enter my master password it says unlocking, in the background it opens the accounts so the login definitely works but the the 'unlocking' window doesn't disappear so it won't download the blocks so I can't make a transaction to remove my Ether! So frustrating, it's like having money in your bank that you can't touch it...

This needs to be fixe

[2016-06-05 18:06] hjsteen opened #779 "Buying ETH via Bitcoin failed"
I have tried to buy ETH via Bitcoin transaction. The Bitcoin transaction was successful but I never received the ETH....I have attached the related Bitcoin transaction, which includes the receiving address that was given by the Wallet for the transaction

![proof transaction for eth](https://cloud.githubusercontent.com/assets/19764020/15807241/e6930aba-2b58-11e6-88b9-953394aac34f.JPG)

Node type:

[2016-06-05 18:11] luclu commented on #779
Please try to get in contact with shapeshift as they are able to trace your transaction. They can provide meaningful insides into this. Please give me a small pingback on the outcome!
Also have a look at this one: https://ethereum.stackexchange.com/questions/1717/how-to-recover-btc-that-wasnt-converted-into-eth-by-shifty-via-mist

I created some pool with tips on this: https://github.com/ethereum/

[2016-06-05 18:11] #779 closed

[2016-06-05 20:25] efox29 commented on #761
@luclu it displays nothing.

When pressing `Ctrl+Alt+i` it opens up the Audits tab of the Developer tools.
When I click on the console tab, and I enter 'web3.eth.accounts' the text I have entered disappears, and nothing is displayed.

I'll wait a few hours before moving onto deleting the Ethereum folder in case you have some other things you want to try.

[2016-06-05 22:16] ryancharleston commented on #161
I'm having the same issue. I don't remember ever being prompted to create a password for my etherbase wallet. I just installed the wallet software and let it sync for a while and then it was ready to go. I moved 1 ETH to this wallet to test and now when I try to withdraw it asks me for a password. But I never created one in the first place. I'm very adamant about storing every password I create fo

[2016-06-05 22:54] yonilevy opened #780 ""Wrong password" if multiple copies of keyfile in keystore-folder"
Node type: geth
OS: osx
Network type: main
Mist version: 0.7.4

I've upgraded by Ethereum-Wallet OSX app from 0.7.2 to 0.7.4, right after making a successful transaction. I tried making another transaction, copy pasting the exact same password I've used before (both were copied from a clipboard manager, so they're *exactly* the same). In 0.7.4 I get the "Wrong Password" message.

I've checked the

[2016-06-05 23:58] mrcybermac opened #781 "Strange transaction listed in Mist from an account I don't control"
![screen shot 2016-06-05 at 1 35 33 pm](https://cloud.githubusercontent.com/assets/6118944/15809154/3e8cdd5c-2b47-11e6-9e7c-30614a52bc26.png)
I turned on my Mist Wallet this morning, and once it finished loaded, I saw an osX notification that a transfer had been made in the middle of the night while I was sleeping.  Huh?  Needless to say this scared me so I investigated further inside Mist itself.

[2016-06-06 01:15] efox29 commented on #761
@luclu I first deleted the entire Ethereum folder (made a copy of keystore and chaindata). I started up Mist again and it loaded nor did I have to resync anything. I was able to see the "new" addresses (not the ones I really want to see) and everything was fine. When I went into '%APPDATA%', the Ethereum folder (which I deleted before), is not even there.

I deleted the Mist folder as well in the

[2016-06-06 06:46] LukaszOls commented on #781
Hi,

This is not an issue with Mist. In fact it is most likely doing exactly what it should if you're watching The DAO contract.

You're seeing the transaction because you're watching The DAO and someone (probably by mistake) sent their DAO tokens to the DAO address. Looks like many people made similar transaction in last few days so I would be more concerned with a fact we don't see more of them

[2016-06-06 10:17] rajwcg commented on #208
Please delete everything from %APPDATA%/Roaming/Mist and restart wallet app

[2016-06-06 10:45] Kurtbe commented on #389
Hi Josh,  It did for me.

Met vriendelijke groeten,

Kurt

P  Denk even aan het milieu voor je deze mail afdrukt

Fortunam suam quisque parat.

From: Josh [mailto:notifications@github.com]
Sent: Sunday, June 5, 2016 6:46 PM
To: ethereum/mist <mist@noreply.github.com>
Cc: Kurtbe <brave.be@telenet.be>; Mention <mention@noreply.github.com>
Subject: Re: [ethereum/mist] Transaction stuck in progress (#

[2016-06-06 13:06] alexvandesande opened #783 "Update the Wallet.sol to include new updated code"
I'm putting this here as an reminder of an important task

We have a new wallet proposed by @bencxr that we'll wait to be PRd into the app-bin repository. We need to watch these changes:

https://github.com/ethereum/dapp-bin/blob/master/wallet/wallet.sol
https://github.com/ethereum/dapp-bin/pull/62
https://github.com/BitGo/eth-multisig-v2/blob/master/contracts/Wallet.sol

[2016-06-06 13:28] ravno commented on #758
Where one can see the dates for the next releases ? Really looking for upgrade to the last 0.7.4 (which more often isn't working then working)

[2016-06-06 16:25] Gondee commented on #389
@Kurtbe @bikerboy4489 Thanks guys, I'm going to test this with the other version tonight.

On my end my client becomes unsynced and any transaction attempts never get confirmed. As a quick workout for those stuck with this issue, I have seen that transferring the ETH immediately upon wallet open with the highest transaction fee works most of the time.

Best,
Joshua

[2016-06-06 17:34] luclu opened #785 "Better approach for suggesting fee / lowest fee"
As stated in https://github.com/ethereum/mist/issues/770 users experience transactions to vanish after being broadcasted.

There are two known reasons for this to happen:

1. The **node is not synced** to the network's height - so the transaction might bounce from the relayers.
2. The **fee is to low** - so no miner will ever pick the transaction up. This is of course not intuitive as the possibil

[2016-06-06 17:51] efox29 commented on #761
@luclu I have installed Mist on my laptop (previously was not installed) and synced the blockchain and then copied my keys over. Mist on my laptop took it. I can see my previous accounts along with whatever balance was there.

I cannot repeat that process on my desktop. Even though I have deleted the Mist folder and Ethereum folder from '%APPDATA'.

How can I delete all traces on Mist wallet on my

[2016-06-06 18:29] luclu commented on #761
good to hear!
What does happen when you open `menu -> accounts -> backup -> accounts` in **Ethereum-Wallet** on the desktop-pc?

[2016-06-06 18:33] luclu commented on #773
We will release `0.7.5` very soon. This will have a refactor of the event-logging and IPC-connection to geth included!

In the meantime it would be great if you could check the new bundle from today (version `0.7.4` + geth `1.4.6`) which should fix a whole bunch of sync-issues on the network-layer. Here is the [**link**](https://www.reddit.com/r/ethereum/comments/4mtnz3/geth_146_edge_making_sync_g

[2016-06-06 18:36] luclu commented on #766
@dragonu19 how did it end up being synced?
I will close this for now, but feel free to come back if you still experience any problem!

[2016-06-06 18:36] #766 closed

[2016-06-06 18:37] luclu commented on #756
@GitJeffHub I will close this for now as of inactivity and suspect this to be solved in some way.
If you still encounter this issue please ping me back!

[2016-06-06 18:37] #756 closed

[2016-06-06 20:23] efox29 commented on #761
@luclu  On the desktop, when I go to 'menu -> accounts -> backup -> accounts', I see 4 folders and a file.

1. chaindata
2. dapp
3. keystore
4. nodes
5. nodekey (file)

Basically I see what I have seen in the past.

But..

The other day I created 2 new accounts the other day to see if I could get them to be seen. They are seen. Those 2 new accounts show up in Mist. They do **NOT** show up in the k

[2016-06-06 20:43] luclu commented on #761
I'm not quite sure if I can follow you on this. There is only one `keystore` under the active users `%APPDATA%\Ethereum`-folder. Try to delete:

 - `%APPDATA%\Ethereum`
 - `%APPDATA%\Mist`

Then start it again. Did you mix up users accounts by any chance?

[2016-06-06 20:50] luclu commented on #785
moved to https://github.com/ethereum/meteor-dapp-wallet/issues/214

[2016-06-06 20:50] #785 closed

[2016-06-06 21:22] KywDuploM commented on #208
@rajwcg Hi, having the same problem. Tried that. Didn't work either.

[2016-06-06 21:40] efox29 commented on #761
@luclu I have deleted both folders as you have said.

I just started Mist 0.7.4 again. The wallet is synced. I did not have to resync. When I try manually entering in the Ethereum folder, this is what I get..

[https://i.imgur.com/NfduwB1.png](url)

Notice that it cannot find the Ethereum folder (which includes chaindata and keystore) and yet my wallet has 3 addresses, and is fully synced to the n

[2016-06-06 22:24] chiarelli opened #787 "private-net mode not working under linux?"
Node type: geth
OS: linux
Network type: NULL
Mist version: 0.7.4

O Modo PRIVATE-NET não está funcional em distros linux?
Apenas na compilação destinada para Windows consegui acessar essa funcionalidade, ou seja, inicio o "geth" com as configurações personalizadas e ao iniciar o mist ele roda no modo PRIVATE-NET. Ao fazer o mesmo procedimento na distro linux GNU-Ubuntu ocorre um erro.

[2016-06-06 22:29] luclu commented on #787
from google-translator:

Nur bei der Erstellung für Windows könnte diese Funktionalität zugreifen, dh den Anfang "Geth" mit benutzerdefinierten Einstellungen und starten Sie den Nebel läuft es in PRIVATE-NET-Modus. Dadurch tritt das gleiche Verfahren in Linux-Distribution Ubuntu GNU-ein Fehler auf.

[2016-06-06 22:31] luclu commented on #787
To use private-nets you have to start **geth** with the appropiate flags `--networkid`, etc. externally and connect **Mist/Ethereum-Wallet** to it.

[2016-06-06 22:43] netchiarelli commented on #787
Hello luclu,

I used the same configuration as the geth in both distros:

`geth --identity "MyNodeName" --genesis ~ / CustomGensis.json --rpc --rpcport "8000" --rpccorsdomain "*" --datadir "/ home / raphael / ethereum-private_network" --ipcapi "admin db , eth, debug, miner, net, shh, txpool, personal, web3 "--rpcapi" db, eth, net, web3 "--autodag --networkid 1900 --nat" any "console`

However, onl

[2016-06-06 22:46] luclu commented on #787
What kind of exception do you encounter?

[2016-06-06 22:46] GitJeffHub commented on #756
Thanks Luca,

Installing the newer version of Mist took care of things.

Best,
Jeff Stewart
703-304-1683 (Cell)

On Mon, Jun 6, 2016 at 2:38 PM, Luca Zeug <notifications@github.com> wrote:

[2016-06-06 22:53] luclu commented on #756
awesome!

[2016-06-06 22:53] netchiarelli commented on #787
The following screenshot:

![exception-mist](https://cloud.githubusercontent.com/assets/8763928/15840429/4ae965b4-2c20-11e6-89ae-a3c7c90af3b4.png)

![exception-mist-2](https://cloud.githubusercontent.com/assets/8763928/15840431/4e4c8d4e-2c20-11e6-939b-48f30f470fb4.png)

[2016-06-06 22:54] luclu commented on #774
With *import* do you mean some presale-wallet at the on-boarding-screen?

[2016-06-06 22:55] luclu commented on #787
The last line states that the port `30303` is already used. Make sure there is no other instance of geth running `pgrep geth` / `pkill geth`.

[2016-06-06 22:57] luclu commented on #775
Also did you extract the zip before evoking **Ethereum-Wallet.exe**?

[2016-06-06 22:59] netchiarelli commented on #787
There is no other instance of running geth, I had already seen it before, but the build for Windows 7 this problem does not occur.

[2016-06-06 23:04] luclu commented on #787
Could you try to append geth with the `--ipcpath`-flag parsing the default location of the ipc-socket.

[2016-06-06 23:05] shawn-j commented on #774
I imported my presale wallet using the same password.  That worked fine, and the first few transactions worked fine too.  Now it just says "wrong password".  And i've verified that  i'm still using the correcy password.

[2016-06-06 23:18] netchiarelli commented on #787
luclu, I did what you asked adding `--ippath` but there was the same problem.

[2016-06-06 23:37] luclu commented on #774
During the on-boarding process you were asked to enter and confirm a password just one step **before** you imported your presale-wallet. That password corresponds to your *etherbase*-account. You might have used the same or confused them.

Try to use those other passwords for it or to recap what you could have used.

[2016-06-06 23:40] shawn-j commented on #774
I've already tried all the other passwords many times, tried every combination i can think of

My etherbase pw worked for import, and that same password worked for the first few transactions.  Now it doesn't work, and no other pw i've used works either

[2016-06-07 00:45] luclu commented on #787
What happens when you only start Mist with default settings?

[2016-06-07 00:46] luclu commented on #774
Ok, so if you don't have any ether in that account I would just remove it from the keystore-folder.

[2016-06-07 01:09] shawn-j commented on #774
A lot of ether is there, and all my dao is tied to that address

[2016-06-07 01:11] luclu commented on #774
Make sure to try out [these](https://github.com/ethereum/mist/issues/669) recommendations.

[2016-06-07 01:13] shawn-j commented on #774
Yes i already tried all that, and a suggestion from stack exchange

[2016-06-07 01:21] netchiarelli commented on #787
**mist** starts normally.

[2016-06-07 01:23] luclu commented on #787
Can you try to strip down your geth flags or build them up with networkid 2 (morden testnet) - to isolate the issue?

[2016-06-07 01:40] netchiarelli commented on #787
Do you believe that this could be a bug in the Linux build?

For now I can only run **PRIVATE-NET** mode in windows ...

I hope the developer solve this problem in the next update for linux distros.

[2016-06-07 10:24] luclu commented on #787
I don't really thing so, but it could be...

If you want to spare some time helping try to strip down your command-flags one by one - to isolate the issue.

[2016-06-07 12:10] luclu commented on #713
@fjoes make sure you didn't run geth twice.
I will close this for now.

[2016-06-07 12:10] #713 closed

[2016-06-07 12:19] luclu commented on #754
@datashaman Your accounts are stored in under `~/.ethereum/keystore`. Wallet Contracts, Watched Token and Contracts can be reimported, so feel free to remove `~/.config/Mist`.

As it is not clear what your setup is and what step could reproduce this behaviour and as nobody else running the official binaries / building themselves has been known to be affected I will close this for.

[2016-06-07 12:19] #754 closed

[2016-06-07 12:23] luclu commented on #743
thanks @FaguiCurtain. [iamtrillion](https://forum.daohub.org/t/transactions-that-i-dont-recognize-showing-up-in-mist/3695/17) wrote:

Thus all our watch token values have increased by atleast 40,000+, as at 10mins ago the DAO has 56,372.49654952 tokens due to the last 17 people(wallet addresses) who sent their tokens to DAO instead of their own wallet addresses.
That is why your watch token values

[2016-06-07 18:43] JHenriqueVissotto commented on #775
So, when will you fix this problem??

2016-06-04 20:53 GMT-03:00 J Henrique Vissotto <jhenrique.vissotto@gmail.com

[2016-06-07 20:50] Nogreedy commented on #773
@luclu
@alexvandesande
Hello,
I run Mist 0.7.4 on my Windows 64 bits.
I have some freezes (yes, I watch DAO...) on Mist and some sync-issues....
Can you confirm please, if it's safe to replace current geth version (programmes\Ethereum-Wallet\resources\node\geth) by the new one (Geth 1.4.6 "EDGE" ) ?

[2016-06-07 22:59] luclu commented on #773
@Nogreedy yes you can do that - it is safe. But please keep track of this when you raise issues or comment.

[2016-06-08 01:01] chejazi commented on #479
This is still a problem, and it's only applicable when strings are parameters in constant functions:

This shows a blank interface:

`contract Test1 {
	function TestFn(string symbol) constant returns (bool result) {
		return true;
	}
}`

While this does not:
`contract Test2 {
	function TestFn(uint num) constant returns (bool result) {
		return true;
	}
}`

[2016-06-08 05:33] choncou opened #790 "Node Crashed"
Node type: geth
Network: main
Platform: darwin

...I0607 22:31:14.513161     554 database.go:71] Alloted 433MB cache to /Users/choncou/Library/Ethereum/chaindata
I0607 22:31:14.580394     554 database.go:71] Alloted 78MB cache to /Users/choncou/Library/Ethereum/dapp
I0607 22:31:14.582801     554 backend.go:314] Protocol Versions: [63 62 61], Network Id: 1
I0607 22:31:14.583090     554 backend.go:3

[2016-06-08 09:37] luclu commented on #790
Make sure to update! Please reopen if you still encounter the issue.

[2016-06-08 09:37] #790 closed

[2016-06-08 15:22] luclu commented on #775
Which problem?

[2016-06-08 16:17] Alexsov opened #791 "Send bitcoin to expired Ethereum Mist Wallet. It is lost now. How can i return my bitcoin back to me. address"
Hi. I send bitcoin to an expired Ethereum Wallet Mist address  which was expired (issued more than 10 min) from coinbase accaunt and bitcoin never came back and i dont see nothing in my Ethereum wallet. anyone had this problem?

[2016-06-08 16:20] Alexsov commented on #791
Hi. I send bitcoin to an expired Ethereum Wallet Mist address  which was expired (issued more than 10 min) from coinbase accaunt and bitcoin never came back and i dont see nothing in my Ethereum wallet. anyone had this problem?

[2016-06-08 17:40] LukaszOls commented on #778
The problem appears only with the original binary bundle or if chrome is used as a browser when the development version of the app is started via meteor and command line(http://localhost:3050 when running a development code).

However, when the same app is accessed using Firefox, it slows down and becomes unresponsive for few seconds, then spews a bunch of messages saying a transaction to send som

[2016-06-08 21:55] evertonfraga opened #793 "Increase text area on navbar"
**UI improvement**
increase text width on navbar items.

<img width="207" alt="aumentar area do texto" src="https://cloud.githubusercontent.com/assets/47108/15912434/9e3edb00-2daa-11e6-89b1-29b5b89016e9.png">

Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.7.4

[2016-06-08 22:31] lucas-wade commented on #386
Mine hangs overytime on Etherium node needs to sync. Just sits there always. Os X el Capitan.

[2016-06-08 22:38] evertonfraga opened #794 "Loading icon/button jumps by the end of spinning animation"
<img width="83" alt="spinning icon nao ta fechando loop da animacao direito" src="https://cloud.githubusercontent.com/assets/47108/15912993/0f5cf2c4-2dae-11e6-9e1d-a0c075463168.png">

OS: linux/windows/osx
Mist version: 0.7.4

[2016-06-08 23:12] evertonfraga opened #795 "Improve spacing on block info"
<img width="224" alt="alterar espacamentos" src="https://cloud.githubusercontent.com/assets/47108/15914203/440d0912-2db5-11e6-9da9-37b9cb853023.png">

OS: linux/windows/osx
Mist version: 0.7.4

[2016-06-09 09:18] hiddentao opened #797 "All Mist/Wallet data should be stored per-network"
All account, contract and other should be associated with a network when being stored within Mist's internal data stores (whether Meteor or backend). This way when the network is switched it is able to cleanly load in the appropriate data for the new network.

[2016-06-09 09:20] hiddentao opened #798 "Unable to build wallet for all platforms"
I've determined this to be a problem within `electron-packager`. If you do `gulp wallet` without specifying a single platform it builds all platform folders, but they don't all contain all necessary source resources.

[2016-06-09 09:42] luclu commented on #798
Do you have all dependencies like `wine` installed. If my setup misses `wine` they all scew up: https://github.com/ethereum/mist/issues/704

[2016-06-09 09:46] luclu commented on #791
Do you mean shape-shift by any chance or does coinbase already support Ether?
Make sure to have a look at these resources: https://github.com/ethereum/mist/issues/687

[2016-06-09 09:51] luclu commented on #795
Also try to cut off your internet connection to see the line wrap on blocktimes >1min.

[2016-06-09 13:54] luclu commented on #132
This seems to be resolved - tested with geth 1.4.6.

Current behaviour:
"@" like "@param" like any uncomplete statement will just leave the Wallet compilation indicator in floating state.

So I guess this is ok.

[2016-06-09 13:54] #132 closed

[2016-06-09 13:56] luclu commented on #213
Seems to be resolved.

[2016-06-09 13:56] #213 closed

[2016-06-09 14:25] PatrickMockridge opened #799 "Node Keeps Persistently Crashing/Disconnecting"
Node type: geth
OS: OSX Yosemite 10.10
Network type: main
Mist version: 0.7.4

I've been trying to send Ether for most of the day but my Mist Wallet is refusing

Error output from my Geth Node in the Terminal (geth 1.4.5):

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x45cd371]

goroutine 1526 [running]:
panic(0x4a967e0, 0xc8200141b0)
	/

[2016-06-09 14:33] murraci commented on #799
Same has just started happening for me after I started watching the DAO contract.

Node type: geth
OS: OSX El Capitan 10.11.5
Network type: main
Mist version: 0.7.4

[2016-06-09 15:36] MaximoMax commented on #367
Exact same problem here (except the very last comment from undersun1), also with Mist 0.5.2 as well as 0.7.3 on Ubuntu 14.04 (32bit) and 16.04 (64bit) both, all combinations.
If it helps:
I did have a clock sync issue recently (due to Dualboot with Windows), messing around with manually set time, but resolved it, shouldn't be causing it anymore. Its now synced at boot.
Also, I have a softlink set

[2016-06-09 19:39] luclu commented on #252
This happened because the Etherbase account was checked for the balance of at least 1 Ether.

Seems to be resolved - tested with 0.7.4.

[2016-06-09 19:39] #252 closed

[2016-06-09 19:40] luclu commented on #296
Resolved - tested with 0.7.4.

[2016-06-09 19:40] #296 closed

[2016-06-09 19:51] luclu commented on #303
This works fine for me tested with 0.7.4. on win7 x64.
I will close this for now, feel free to discuss if you still encounter this issue.

[2016-06-09 19:51] #303 closed

[2016-06-09 20:09] luclu commented on #428
This should not be problem as the capital-letters are only part of ethereum's address correctness check.
I tried to reproduce this behaviour but couldn't confirm it.

Are you sure you typed in the right password for the transaction?
I will close this for now, but feel free to give me a small ping-back on the outcome!

[2016-06-09 20:09] #428 closed

[2016-06-09 20:41] #429 closed

[2016-06-09 21:44] luclu commented on #453
@5chdn are you still encountering this issue?
Just tested this and it works fine for me!
I also dropped some line on the PKG's comments. :)

[2016-06-09 21:46] 5chdn commented on #453
nope, can not reproduce anymore.

thanks for the commet. will update the PKGBUILD.

[2016-06-09 21:51] luclu commented on #453
sweet

[2016-06-09 21:51] #453 closed

[2016-06-09 22:07] luclu commented on #583
Seems to be related to **timedatectl** not recognizing **ntpd's** sync status.

Mist uses the npm-module [os-timesync](https://github.com/fjl/os-timesync) ([line](https://github.com/ethereum/mist/blob/6c59a98e94ed2d688dfdd1604fb9eff4cd90732a/main.js#L14))

This will check with **systemd**'s `timedatectl status` and matches its output:
`var match = /^\s*(NTP enabled|Network time on): (yes|no)\s*$/m

[2016-06-09 22:15] luclu commented on #583
aha, it takes some time to pick up it up and reflect on this:
[code]
I will send a PR to [os-timesync](https://github.com/fjl/os-timesync).

[2016-06-09 22:38] 5chdn commented on #583
sweet

[2016-06-10 03:36] mrcybermac commented on #781
Thanks!

[2016-06-10 03:36] #781 closed

[2016-06-10 13:03] luclu commented on #514
@alexvandesande could this be incorporated into the new splash-screen?

[2016-06-10 15:18] rdonnelly236 opened #801 "Ether never arrived withdrawing from Gatehub (out of gas)"
Recently I transferred 354 ETH from my Gatehub account to my Ethereum wallet set up through github.com/ethereum/mist/releases. The ETH never arrived in my account. Gatehub says that everything went well on their end, and I should contact you. Here are the details:

[2016-06-10 15:32] frozeman commented on #801
Transaction hash? They should give you one, or its somewhere in their interface.

Are you synced your node?

[2016-06-10 15:34] rdonnelly236 commented on #801
This is the response I received from Gatehub:

Gregor Gololicic (GateHub)
Jun 10, 18:05 EEST

Hi Rick, Gregor here. I checked your transaction on the system and it was successfully withdrawn from our system on the time of the withdrawal. Reason why the balance is not shown on your receiving account is due to a contract error shown here: http://etherscan.io/tx/0x6b09265fab5291f43a9b3eac8d9851000bab

[2016-06-10 17:00] alexvandesande commented on #514
I haven't seen this again since the geth sync changes

[2016-06-10 18:42] luclu commented on #801
Hi @rdonnelly236,
as you can see the red line following the link to etherscan.io
`Warning! An error occured during contract execution. Out Of Gas`
this transaction did never happen on the network on was rejected - thus the sender still has the amount of ether in question.

Please reply kindly refering to this github-issue.
This problem is not new as some exchanges have been affected in the past sp

[2016-06-10 18:46] luclu commented on #801
I moved the issue title to its body and shorted the title.

[2016-06-10 21:46] luclu commented on #583
PR: https://github.com/fjl/os-timesync/pull/4

[2016-06-10 23:32] tunage opened #802 "lost bitcoin during conversion"
I installed the wallet for first time, the shifty gui asked me to deposit btc in order to receive eth

Send 0.00072433   Bitcoin to
14YEXbVMzsudExtL2E6aKMpC7SLxgedM8n

It will be converted into 0.02  Ether, and sent to
0xc3f462fa930440a9f28a7300c2ad19cd8a2e95af

I sent to much and the balance is  https://live.blockcypher.com/btc/address/14YEXbVMzsudExtL2E6aKMpC7SLxgedM8n/

How do I retrieve my bal

[2016-06-11 00:32] larrysmith1000 commented on #758
Yes, when is 0.7.5 released?

[2016-06-11 09:19] luclu commented on #802
@tunage the balance in your wallet will get updated as soon as you sync to the blockchain height at which that transaction was commited. You can also have a look at your Ether-balance using a blockchain-explorer like [etherscan.io](etherscan.io) using your address.

[2016-06-11 10:26] chevdor opened #803 "BigNumber Error while trying to vote using Mist"
Node type: geth
OS: osx
Network type: main
Mist version: 0.7.4

I start Mist with --mode mist
I browse to the DAPP: https://vote.daohub.org/#<MyDAOContractAddress>
<MyDAOContractAddress> is the address of the contract holding my DAO tokens.
I provide <MyDAOContractAddress> without '0x'

<MyDAOContractAddress> was created from the account <MyDAOAccountAddress>

As a result, I see 0 proposal availab

[2016-06-11 11:58] tunage commented on #802
That wallet was synced hours ago.

This is the interface that stole my money

http://pix.toile-libre.org/upload/original/1465646088.png

[2016-06-11 12:00] tunage commented on #802
once again, how do I access this ->  https://live.blockcypher.com/btc/address/14YEXbVMzsudExtL2E6aKMpC7SLxgedM8n/  balance?

The SHIFTY GUI automatically threw it there and now I cannot reach it.

There is no place within the GUI to import a btc balance from a specific address. Only perform a new transaction (feed it more btc, no phucking way).

[2016-06-11 12:41] luclu commented on #802
Please follow the recommendations ☝️

4 . Please **get in contact with shapeshift** as they are able to **trace and recover any funds**.

[2016-06-11 22:36] davedavis commented on #758
Great idea. I think there's a lot to be said for smaller more frequent releases. In general, when a frequent schedule has been established, users are more patient. People cannot understand why the current issues, which they consider critical, have not been fixed yet.

Look at Jaxx as a really good example of this working well. They had some serious bugs and many were not fixed in the next release

[2016-06-12 11:04] luclu opened #804 "improve mist's network(id) awarness"
- account/wallet-contract/watch-contract/token database should be saved following the network-id
 - Backup menuentries always redirect to default main-net geth-data-directories
 - Mining menuentry only works on test-net (no private-net) and if mist is in control of geth session

[2016-06-12 11:06] luclu commented on #804
closed as duplicate of https://github.com/ethereum/mist/issues/797

[2016-06-12 11:06] #804 closed

[2016-06-12 11:07] luclu commented on #797
This could also improve the situation on these ones:
 - Backup menuentries always redirect to default main-net geth-data-directories
 - Mining menuentry only works on test-net (no private-net) and if mist is in control of geth session

[2016-06-12 15:33] taoteh1221 opened #805 "Mist Multisig on 2 Separate Machines No Longer Working"
Node type: geth
OS: Ubuntu 14.04 LTS
Network type: main
Mist version: 0.7.4

I have Mist 0.7.4 on 2 separate Machines, both running Ubuntu 14.04 LTS. I have a 4-of-4 Multisig Wallet, with 2 accounts on one machine, and 2 accounts on the other machine.

I went and synced up both machine's blockchains, and then proceeded to initiate a withdrawal from the multisig wallet using Mist, for an amount was

[2016-06-12 20:35] marcofranssen opened #806 "Copy address does not work"
Node type: geth/eth
OS: windows
Network type: main/test
Mist version: 0.7.4

When using the copy address button, the address is not copied onto the clipboard. Same applies for selecting the address and using ctrl+c. The UI however tells that the address is copied to the clipboard in both situations.

[2016-06-12 21:30] KikiKite opened #807 "Avast deleted a "virus" it found in the chain. Now the wallet wont open."
Hi,

My antivirus software (Avast) thought it found a virus in the Ethereum chain and deleted it... now the wallet wont open. What do I need to do to rebuild the chain so I can open the wallet?

I have attached the error messages, and node logs.

Thanks
K

Node type: eth
OS: osx
Network type: main/test
Mist version: 0.0.0
![screen shot 2016-06-13 at 8 50 26 am](https://cloud.githubusercontent.com/

[2016-06-12 23:17] tunage commented on #802
A trouble ticket with shapeshift solved the issue.

I would highly recommend removing their code.  Especially till they get the bugs worked out.

[2016-06-13 05:38] woftor commented on #397
Still there in 0.7.4.
Already deleted the blockchain, no change.

[2016-06-13 07:26] Bitbobb commented on #161
I am having same issue.  I never made a password and now after 1 week of syncing with mist wallet I am asked for a password to transfer almost 6 eth coins from my etherbase main account.  I am also concerned that the above post by ryancharleston has not been answered 7 days later.  Does anybody take this problem seriously?  I just lost 6 ether coins to this bug.  Please fix so I can get the eth ou

[2016-06-13 07:37] Bitbobb opened #808 "Being asked for password to send from etherbase account on mist. Never made password"
Node type: geth/eth
OS: windows
Network type: main
Mist version: 0.6.2

Same as issue #161 which from my read seems to have been improperly closed since the respondant misunderstood the complainants merit of his claim.  I am having the same problem that the man in issue 161 is having.  His issue and another person was never resolved.  I loaded mist.  I was recomended to use 6.2 by dev untill the m

[2016-06-13 07:40] Bitbobb commented on #808
using geth 1.3.6
sorry meant to include that.  I was never asked for a password for anything on mist and it took my eth now asks for password to send eth.  What is up with this.  This is a big problem folks!

[2016-06-13 08:25] JHenriqueVissotto commented on #775
For me do you ask what's the problem!?!? I who ask for you what the
problem!!!

I simply installed the mist, version 32 and 64, version 0.7.4, 0.7.3,
0.7.2, ...

2016-06-08 12:22 GMT-03:00 Luca Zeug <notifications@github.com>:

[2016-06-13 08:26] JHenriqueVissotto commented on #775
And don't work! Don't opening. Don't run...

I don't know why!

2016-06-13 5:25 GMT-03:00 J Henrique Vissotto <jhenrique.vissotto@gmail.com>
:

[2016-06-13 10:42] hellwolf commented on #806
Confirmed, including Linux client.

[2016-06-13 11:02] luclu commented on #806
Thanks for reporting, though I will close this as a duplicate of https://github.com/ethereum/mist/issues/650

[2016-06-13 11:02] #806 closed

[2016-06-13 11:04] luclu commented on #802
Good to hear you could solve it. We will look into this.

[2016-06-13 11:04] #802 closed

[2016-06-13 11:05] luclu commented on #807
@KikiKite please have a look at these recommendations: https://github.com/ethereum/mist/issues/573
Unfortunately some AV solutions will do this. I will close for now.

[2016-06-13 11:05] #807 closed

[2016-06-13 11:20] luclu commented on #161
@ryancharleston @Bitbobb please try to open your wallet's `json`-file with [myethereumwallet.com](myethereumwallet.com) and report back if you were able to unlock your wallet.
Mist as well as [myethereumwallet.com](myethereumwallet.com) implement the wallets according to [this specification](https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition).

---

@ryancharleston If the `keysto

[2016-06-13 11:26] luclu commented on #808
@Bitbobb did you ever see this onboarding screen?
![](https://cloud.githubusercontent.com/assets/112898/13051356/f348c946-d3df-11e5-9d32-cec9f8062a5e.png)

This will popup and ask you for a password if there is not `json`-file in the `%APPDATA%\Ethereum\keystore` folder.

Also have a look at #161 were I answered you some minutes ago.

[2016-06-13 11:32] luclu commented on #775
@JHenriqueVissotto for a start please try to cooperate with me answering these questions so we can isolate your issue:

and

[2016-06-13 11:39] fgaudemar commented on #161
Indeed, I agree it is the onboarding process which is confusing : I finally
found out that I entered a password during this onboarding process but did
not understand at that time it was THE wallet password, so that I did not
even notice I entered one.
Luckily, I noted it down somewhere, and finally was luckyenough to stumble
upon it : I had no recollection of being prompted for any password, but
t

[2016-06-13 12:37] JHenriqueVissotto commented on #775
Yes! I can and I will cooperate! And yes again for 2 twos questions!

Also, the same problem is ocurring in several of the instances of the
Amazon’s VPS, in other words, this problem isn’t in my computer…
The Mist already worked in my PC in 1 or 2 mounths ago, but now, no more…

2016-06-13 8:32 GMT-03:00 Luca Zeug <notifications@github.com>:

[2016-06-13 12:45] luclu commented on #397
@woftor could you kindly give me the output of this commandline command?
[code]

[2016-06-13 12:49] luclu commented on #397
For **those interested** in a **long and technical explanation** I will try to give you some technical background on this issue.

---

Time-sychronisation is important as the underlaying network protocol [devp2p](https://github.com/ethereum/wiki/wiki/%C3%90%CE%9EVp2p-Wire-Protocol) depends on a shared timebase for its correct functionality.

[NTP (Network Time Protocol)](https://en.wikipedia.org/w

[2016-06-13 12:52] frozeman commented on #397
@fjl maybe some improvements on you package are necessary? https://www.npmjs.com/package/os-timesync

[2016-06-13 13:03] luclu commented on #775
1. Where is your Mist app folder located at?
2. Does it contain the file `geth.exe` under `nodes\geth`? I assume you still get the error from your initial post.
3. Do you have special characters in your username?
4. Do you changed the userfolders location from its defaults? (via GPO, etc)
5. What OS do you run on Amazon VPS?

[2016-06-13 13:59] slothbag opened #809 "Option to let Mist use a remote geth/eth instance on another machine"
I currently run multiple geth instances on the LAN, they are always fully sync'd.  It would be great if Mist could connect to the RPC on those nodes instead of having to also sync on the local workstation.

[2016-06-13 15:06] marcofranssen commented on #650
Another workarround is to open the developer tools, find the element on the UI and copy paste from the developer tools.

[2016-06-13 15:27] woftor commented on #397
[code]

[2016-06-13 15:36] kungfualden commented on #650
Thanks buddy,

Also my workaround is to click on withdraw tab and copy address from there. And go back to deposit tab and paste address

[2016-06-13 15:57] woftor commented on #397
So... apparantly The Key reg query HKLM\SYSTEM\CurrentControlSet\Services\W32Time\Start can have more than one setting to be enabled... I searched MSDN, cannot find it.

[2016-06-13 16:04] fjl commented on #397
We can make it check for 0x2 too. The time sync check is best-effort anyway.

[2016-06-13 16:18] luclu commented on #583
@5chdn could you please give me the output of `timedatectl`?
Then issue `timedatectl set-ntp true` and check the output again?

[2016-06-13 17:33] 5chdn commented on #583
0 ✓ user@hoster ~ $ timedatectl
          Local time: Mon 2016-06-13 19:32:06 CEST
      Universal time: Mon 2016-06-13 17:32:06 UTC
            RTC time: Mon 2016-06-13 17:32:06
           Time zone: Europe/Berlin (CEST, +0200)
     Network time on: yes
    NTP synchronized: yes
     RTC in local TZ: no
    0 ✓ user@hoster ~ $ timedatectl set-ntp true
    0 ✓ user@hoster ~ $ timedatectl

[2016-06-13 18:39] eisgold commented on #808
Did you copy/paste the files from c:\ethereum, put it to a second computer and just run it ? In this case a new adress will be auto generated without user interaction and unknown password. Money send to this adress will be trapped.

[2016-06-13 19:02] Nawkinger opened #810 "Ether Lost! etherchain shows duped transaction?"
Hello,

after buying more Ether today, to my suprise 8.4 Ether are lost.

Etherchain shows that a transaction from 15 days ago got duplicated. It is not shown in the wallet though.
![etherlost1](https://cloud.githubusercontent.com/assets/19915462/16019599/07dd8a18-31aa-11e6-9472-a838278dfe21.jpg)

https://etherchain.org/account/0x5a65752D0a317A5F4fC33c0F27d2c62369569F13#txsent

How did this happen

[2016-06-13 21:53] alexvandesande commented on #780
We are changing a lot of the node connection on 0.7.5 so it might be resolved there. Please check back on the next release

[2016-06-14 01:31] yonilevy commented on #780
@alexvandesande thanks, i'll update when 0.7.5 is out

[2016-06-14 07:01] Abhijith68 opened #812 "No Ethers got, Blockchain is in Sync."
Hello,

I have been mining for two days but haven't received a Single Ether. My blockchain is in Sync.

Thanks in Advance!

Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minumim.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide

[2016-06-14 07:25] MrDroth commented on #773
Keep getting stuck at block 1,436,598 on the newest beta. It starts syncing by saying 1,43... of 1,70...When I get to 1,436,598 it says 1,436,598 of 1,498,361.

What the heck is going on?
![capture](https://cloud.githubusercontent.com/assets/19916581/16034415/aa6241cc-31df-11e6-8016-ee68ab2e6912.PNG)

[2016-06-14 07:56] gannetson commented on #726
When will this be released? I can't do anything atm with my wallets. Is there a work around?

[2016-06-14 08:31] luclu commented on #773
@MrDroth please try [this](https://github.com/ethereum/mist/issues/773#issuecomment-224047138) ☝️ and report back.

[2016-06-14 08:37] Bitbobb commented on #808
luclu,  yes I did see that screen.  And I have only one option for a possible password that I found since I posted this.  And now when I entered this possible password the error message changed from wrong passoword to "couldn't connect to node, did it crash in the background?"  Then after entering a ton of other possible passwords I kept getting wrong password for all of them.  Then I went back to

[2016-06-14 08:45] luclu commented on #812
@Abhijith68 what instructions did you follow to set up your mining rig?

If you have any issues with mining please head over to https://forum.ethereum.org/categories/mining this is by far a better place to pitch your question - as there is much expertise lurking around.

This is Mist's issue-tracker, the place to file bug-reports for the wallet frontend. I will close this for now.

[2016-06-14 08:45] #812 closed

[2016-06-14 09:27] luclu commented on #809
Unfortunately this is currently not possible.
See https://ethereum.stackexchange.com/questions/2403/can-mist-be-attached-to-a-geth-node-on-a-different-computer-over-http-rpc

[2016-06-14 09:27] #809 closed

[2016-06-14 09:28] luclu commented on #493
Hi Anton,

unfortunately this is currently not possible.

See https://ethereum.stackexchange.com/questions/2403/can-mist-be-attached-to-a-geth-node-on-a-different-computer-over-http-rpc

[2016-06-14 09:28] #493 closed

[2016-06-14 09:35] luclu commented on #466
Could you please give me the output of:
[code]
See https://github.com/ethereum/mist/issues/397 for context.

[2016-06-14 09:45] Bitbobb commented on #161
Ran geth with the unlock command and took a screen shot.  It looked like it was asking for a password.  Maybe I can reverse the secret3 protocal to figure out my password.
this is my jaxx wallet if anyone wants to donate: 0x9c20b60d6272d4D96c07B01052Ba6c662e14B125
looks like a lot of work  to get back my 5.8 eth
    Thanks for the replies people
   I do think it is a bug because sometimes it says

[2016-06-14 09:52] Bitbobb commented on #808
0x9c20b60d6272d4D96c07B01052Ba6c662e14B125
is my jaxx wallet for eth

[2016-06-14 10:38] ScrambleKid commented on #425
Hi Guys

I'm running SSD on my MacBook Pro and having the same / similar issue. I have DAO on a wallet contract and not feeling confident about backing it up (my first attempt to restore on another user account failed).

I've tried everything in this thread (except for deleting wallet contracts because I am not confident about restoring them), but still have major sync and usage problems with 0.7.

[2016-06-14 11:35] Cervenka opened #815 "Strange items in the last transactions"
Node type: geth
OS: osx
Network type: main
Mist version: 0.7.4

I'm seeing transactions that do not belong to me.

![bildschirmfoto 2016-06-14 um 13 29 52](https://cloud.githubusercontent.com/assets/2852105/16041160/4259dac2-3234-11e6-8941-d3c034957a91.png)

[2016-06-14 11:52] luclu commented on #815
This is caused by `0.7.4.`'s event-logging notifiying you when token transfers happen to your watched contracts. This will be fixed on the next release.
I will close this as duplicate of https://github.com/ethereum/mist/issues/739.

[2016-06-14 11:52] #815 closed

[2016-06-14 11:53] luclu commented on #810
What version are you currently running?
Also make sure to be synced with the network.

[2016-06-14 14:31] taoteh1221 commented on #425
@ScrambleKid Backup your keystores again if the backup failed. You may possibly have a corrupt backup.

[2016-06-14 15:14] ScrambleKid commented on #425
Thanks for the suggestion. I've managed to import keys into MyEtherWallet - so keystores aren't corrupt. But Mist seems to be completely b0rked. I think I need to wait for the next version with geth 1.4.6 for bigger loads. At least I've managed to move my DAO tokens and wallet contract balances out of there for now. Have to move quickly - Mist becomes completely unusable after a minute or two (slo

[2016-06-14 15:44] taoteh1221 commented on #425
@ScrambleKid Yeh, it's a pre-release ATM, so Mist can actually get slightly buggier as new larger features are added...to be expected. The freezing could easily be memory leaks, those have been reported a lot by others so I suspect that may be fixed relatively soon (I don't know, I'm not an ethdev team member).

I'd report the keystore import issue if I were you, or add your 2 cents to any related

[2016-06-14 15:49] ScrambleKid commented on #425
@taoteh1221 I definitely will do. Thanks again for the replies.

[2016-06-14 15:57] taoteh1221 commented on #425
@ScrambleKid Your welcome! :)

[2016-06-14 16:05] frankwit opened #817 "Copy address to clipboard not functioning"
Copy address to clipboard not functioning

Node type: geth/eth
OS: osx 10.10..5
Network type: main/test
Mist version: 0.0.0

:

-
[node.log 2.zip](https://github.com/ethereum/mist/files/314381/node.log.2.zip)
![screen shot 2016-06-14 at 18 01 44](https://cloud.githubusercontent.com/assets/19873463/16050091/9339c378-325a-11e6-9be6-e300ce965239.png)

[2016-06-14 16:07] ScrambleKid opened #818 "Missing transactions on wallet contracts"
Node type: geth
OS: osx
Network type: main
Mist version: 0.7.4

Like many [over here](https://github.com/ethereum/mist/issues/425), I am experiencing sync issues with Mist.

When Mist starts up I am presented with the 'Client v1.4.4-00000000 seems older than upstream release ...' error on the loading window:
![screen shot 2016-06-14 at 16 50 52](https://cloud.githubusercontent.com/assets/9610120/1

[2016-06-14 16:13] bocybox opened #819 "Want use My Watch-Only Accounts"
Hello, Please I have one account witch I have two adress,
How can I use my watch-only account?

![myetherwallet cx](https://cloud.githubusercontent.com/assets/19808453/16050281/93b3d86c-324a-11e6-8848-4eb6496beba7.jpg)

I want use my ether but I cant access to yhem, please show me what to do?

[2016-06-14 16:36] eyecikjou567 commented on #466
[code]

Edited Start to 0x3 and now the Wallet is behaving correctly. Issue can be closed, many thanks!

[2016-06-14 16:47] luclu commented on #817
Thank you for reporting @frankwit. This issue will be solved in the next release.
I will close this as a duplicate of https://github.com/ethereum/mist/issues/650.

[2016-06-14 16:47] #817 closed

[2016-06-14 16:51] luclu commented on #819
Hello @bocybox,
do you have `json`-files of these wallets? Try to load them in Mist. To do this go to menu -> accounts -> backup -> accounts and drop them in this folder.

[2016-06-14 16:53] luclu commented on #466
Good to hear. I will link this to https://github.com/ethereum/mist/issues/397 for context.

[2016-06-14 16:53] #466 closed

[2016-06-14 16:54] luclu commented on #397
@fjl another occurance of `Start REG_DWORD 0x2` on win 10: https://github.com/ethereum/mist/issues/466

[2016-06-14 16:59] luclu commented on #818
Thank you @ScrambleKid for reporting all of these issues.

A new version that should solve all of these bugs is ought to be released very soon (1-2 days if no serious problem gets spotted). I will give you some notice so you can check if it is alright.

[2016-06-14 16:59] fjl commented on #397
I will add the check for 0x2 in os-timesync. Will also fix the other linux issue there and release a new version.

[2016-06-14 18:16] luclu commented on #812
Here are some more resources to get you running:

https://gitter.im/ethereum/minercommunitysupport
https://www.reddit.com/r/ethermining
http://ethereum.stackexchange.com/?tags=mining

[2016-06-14 18:32] bocybox commented on #819
Hi thinks for answer me, but I dont have json-files.
I try to fing it in my account without success.
You tell me to go to menu -> accounts -> backup -> accounts and drop them in this folder.
But where can I find menu?

[2016-06-14 18:34] luclu commented on #819
Could be that you mixed up software here. MyEthereumWallet is somewhat different than Ethereum-Wallet. ;)
I can only help you with the later one.

[2016-06-14 18:37] doppio opened #821 "Replace the word "Browser" when discussing Mist"
Alex Van de Sande has stated that he doesn't want users to think of Mist as a "browser for Ethereum" and to compare Mist with web browsers like Chrome or Firefox. Using the term "browser" on the GitHub page and elsewhere contradicts this notion. I was under the imperssion for a long time that Mist was trying to achieve the same kinds of features as Chrome. This could really confuse less tech-savvy

[2016-06-14 18:47] bocybox commented on #819
ok thinks so much.

[2016-06-14 20:30] Kojee commented on #803
It may be an exception where the number is not seen as an hex and so it triggers the exception.
This may be solved with a conversion or a cast to hex.

[2016-06-14 20:43] chevdor commented on #803
Yes except that the number was an hex. It is a valid contract address without 0x.

[2016-06-14 20:47] Kojee commented on #803
Report the bug to bignumber.js maker

[2016-06-14 21:19] SecTec commented on #546
+1
The missing PGP verification prevents me from installing Ethereum client.

[2016-06-14 21:20] alexvandesande commented on #140
Currently it shows you a link to the contract, if you are watching it. Does this solve this issue?

[2016-06-14 21:34] chevdor commented on #803
I am sure it will find its way...

[2016-06-14 22:22] pipermerriam commented on #140
It's not practical to *watch* all of them as there are potentially 100's of these contracts.

Think of an on-chain exchange where every order was represented by it's own contract.  Nobody want's to watch every order.  Instead they'd want to be able to browse each order with the UX knowing somehow what the ABI it should use to display the contract.

[2016-06-14 23:03] rdonnelly236 commented on #801
Hello Luca,

Thanks to you, Gatehub was able to successfully transfer my ETH from their exchange to my mist wallet. Many thanks for all of your help. I am hoping you can help me with a couple of other things.

1) When I try to transfer my ETH from my contract wallet to my main account, it asks for my password. When I put in the password that I think it is, it says that the password is incorrect. I

[2016-06-14 23:56] luclu commented on #801
Hallo Rick, that is good to hear!

regarding your questions.
1. Make sure you use the password of the owner account. You can see this in the contract's details withing Mist or a blockchain explorer.
2. Contract wallet have the advantage of a better security model when using its multisigniture feature. This feature is currently not available for subtoken thus there is no benefit for using them over

[2016-06-14 23:56] #801 closed

[2016-06-15 00:07] luclu commented on #819
Ok, I will close this for now. Feel free to join our gitter chat if you have any questions!

[2016-06-15 00:07] #819 closed

[2016-06-15 06:08] LukaszOls commented on #778
If anyone is interested (it doesn't seem anyone is from the amount of developer engagement in this issue that is potentially affecting all users using 7.4 version that added The DAO to watched contracts). The messages that pop up when Chrome would've crashed look like this on Firefox:
![image](https://cloud.githubusercontent.com/assets/19762237/16069636/e07f381c-32c7-11e6-88cc-e00f42c7ea7c.png)
Ma

[2016-06-15 06:15] LukaszOls commented on #726
Have a look at this issue I opened when I couldn't find anything with "The DAO" and "freezing, crashing" in the description [Issue 778](https://github.com/ethereum/mist/issues/778) . I also provide a workaround for version 7.4 to be able to watch The DAO contract. Unfortunately the workaround is going to only work for users who can run the development version of the app.

Also, I don't agree the i

[2016-06-15 06:29] gannetson commented on #726
Removing The DAO 'resolved' it for now. Thanks.

[2016-06-15 07:38] ScrambleKid commented on #818
@luclu Thanks! Looking forward to the new release 🚀

[2016-06-15 15:31] alper opened #824 "Lost funds from Main Account"
OS: osx

The funds I wanted to save were listed in Ethereum Wallet in the "Main Account".
I backed up the accounts from Wallet using the backup feature.
I then deleted all the files related to AlethZero ~/.ethereum since those do not seem to be used by Ethereum Wallet anyway.
Restarting Ethereum Wallet first necessitated a multi hour sync and then it did not show me the funds I had anymore under M

[2016-06-15 15:35] splix commented on #818
+1

[2016-06-15 17:17] luclu commented on #824
Please check which backend you are using in the menu -> development -> Ethereum node. I highly recommend you to use geth for now. You might need to copy your accounts to `~/Library/Ethereum/keystore` afterwards. Also we just released `0.7.5.`. Make sure to update as it contains a whole lot of improvements under the hood!
I will close this for now, but will stay here to assist you.

[2016-06-15 17:17] #824 closed

[2016-06-15 21:20] mikepancake opened #826 "wallet not opening"
Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

---

I was having issues with the wallet crashing on macOS right when I opened it. I then installed homebrew, and built the geth using port 3555. I was able to open mist at this point and it began to sync. However once it was done syncing, I closed terminal and it sent me back to square one. The wallet would not

[2016-06-15 21:36] luclu commented on #826
So you are one of the brave ones trying out 10.12 already?
Please fill out the version block and correct the title to a oneliner.

[2016-06-15 21:50] mikepancake commented on #826
Do you mind explaining that a little more? I don't have a lot of knowledge surrounding this, so any explanation you can give is very helpful.

Thank you

[2016-06-15 21:54] luclu commented on #826
OS X will be rebranded to macOS with the upcoming release of version 10.12.
Please fill out this block and truncate the issue title.

OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

[2016-06-15 22:02] mikepancake commented on #826
My apologies, I only reffered to it as macOS out of habit. I am running OSX still

[2016-06-15 22:10] alexvandesande commented on #821
Mist Navigator

[2016-06-15 22:13] alexvandesande opened #828 "Make new window loader screen frameless"
Remove the buttons from the loading new window  screen.

<img width="172" alt="captura de tela 2016-06-15 as 7 12 13 pm" src="https://cloud.githubusercontent.com/assets/112898/16099176/32d6e74e-332d-11e6-8ed8-20cefbb1ecb4.png">

[2016-06-15 22:14] alexvandesande opened #829 "App not quitting once all windows are closed"
When you close the splash screen window, it will not quit the app, instead it keeps both geth and the Wallet running in the background

[2016-06-15 22:27] luclu commented on #829
The only thing I fould in [electron's release-notes](https://github.com/electron/electron/releases) between 1.0.1 and 1.2.2 that looks related is:

[code]

[2016-06-15 22:33] #762 closed

[2016-06-15 22:33] alexvandesande commented on #780
0.7.5 is out. Please update and open again if it persists.

[2016-06-15 22:34] alexvandesande commented on #650
Solved on latest release

[2016-06-15 22:34] #650 closed

[2016-06-15 22:34] alexvandesande commented on #611
SignAndSendTransaction is now included on the latest release

[2016-06-15 22:34] #611 closed

[2016-06-15 22:40] mikepancake commented on #172
@Wat3v4 I experienced the same issues as you, and was able to get it up and running following your comments, so thank you for that. However I am unable to run the wallet after closing terminal. Can you walk me through how you may have ended that process or anything you did to make the wallet run without terminal running in the background?

[2016-06-15 22:43] luclu commented on #172
@mikepancake make sure to continue testing with the latest release `0.7.5`: https://github.com/ethereum/mist/releases/tag/untagged-36a08efca803064672a3

[2016-06-15 22:45] luclu commented on #805
@taoteh1221 could you please try to replicate this with the latest [release 0.7.5](https://github.com/ethereum/mist/releases)?

[2016-06-15 22:48] luclu commented on #525
Could you please try out the latest [release 0.7.5](https://github.com/ethereum/mist/releases)?

[2016-06-15 22:52] luclu commented on #75
Could you kindly check if you are still affected with our latest release **0.7.5**?
This contains electron 1.2.2 and a whole bunch of stability and synchronization improvements.
https://github.com/ethereum/mist/releases

[2016-06-15 22:55] luclu commented on #292
We just released version 0.7.5 which includes geth 1.4.7 with several minor improvements to the peer discovery. Please check if your situation got improved by this: https://github.com/ethereum/mist/releases

[2016-06-15 22:57] davedavis commented on #75
@luclu I don't think the 0.7.5 build for Windows is ready yet. Will definitely check as soon as it's live.

[2016-06-15 22:59] luclu commented on #75
@davedavis it should work now ;)

[2016-06-15 23:04] luclu commented on #397
We just released version **0.7.5** which contains an updated version of os-timesync.
https://github.com/ethereum/mist/releases/tag/0.7.5
Please give me a small ping-back if you still encounter any issues in this regard.

[2016-06-15 23:13] luclu commented on #281
We just released version 0.7.5 which contains a complete rewrite of the IPC connection handling. Please give me some feedback if this solves your problems.

[2016-06-15 23:14] #281 closed

[2016-06-15 23:15] luclu commented on #775
Also make sure to test this with the latest release 0.7.5.
https://github.com/ethereum/mist/releases/tag/0.7.5

[2016-06-15 23:25] luclu commented on #583
Version 0.7.5 was released including several changes to os-timesync. Please check if this solves this issue for you @Denton-L @bartobri @5chdn.

[2016-06-15 23:44] yonilevy commented on #780
@alexvandesande tested on 0.7.5, still getting Wrong Password :(

[2016-06-15 23:52] taoteh1221 commented on #805
@luclu Will do. I am installing an SSD drive in my desktop PC Friday, I already put one in the laptop the other week and bumped it's RAM up to 8GB...so I will test v0.7.5 Friday after I get the desktop PC upgraded as well, to minimize any possible latency issues. Looks like you all have been VERY busy, looking forward to taking v0.7.5 for a test drive. :+1:

[2016-06-16 00:06] luclu commented on #282
This works for me. I will close this for now.
Please give me a small ping-back if you still encounter this issue!

[2016-06-16 00:06] #282 closed

[2016-06-16 00:10] luclu opened #831 "gulp: remove mas from target darwin for now"
mas (Mac Store Release) got introduced with electron-packager 7.0.0.

[2016-06-16 00:11] luclu opened #832 "refactor / symplify gulp"
- [ ] simplify renaming (https://www.npmjs.com/package/gulp-rename ?)
 - [ ] download eth-nodes https://github.com/ethereum/mist/issues/894
 - [ ] fix zipping
 - [ ] remove mas (Mac Store platform) from target darwin for now

[2016-06-16 00:12] luclu opened #833 "rename "Ethereum-Wallet" to "Ethereum Wallet""
PR https://github.com/ethereum/mist/pull/883

[2016-06-16 00:13] luclu opened #834 "fix eth (c++) node"
Current issues: https://github.com/ethereum/mist/issues/607
Ongoing PR: https://github.com/ethereum/mist/pull/841

[2016-06-16 00:20] luclu commented on #670
`gulp update-nodes` will be leveraged.

[2016-06-16 00:20] #670 closed

[2016-06-16 05:48] amustafa opened #836 "Ethereum Wallet 0.7.5 freezes after loading up"
I just downloaded Ethereum Wallet 0.7.5 and the screen freezes after loading up. I run the file in the terminal, it loads the screen, connect to geth (or starts a geth connection) and then opens up to the main screen, correctly showing all of my accounts. After that, everything freezes. No buttons are clickable and the main screen isn't scroll-able. The menu items still work though.

I'm currently

[2016-06-16 06:10] allmails888 commented on #281
This version hangs - total blank interface when launched. Switching bck to 0.7.4

Sent from my iPhone

[2016-06-16 07:30] Bitbobb commented on #161
Can any respond to this bug?  I will try again the unlock command.   What am I supposed to expect.  It did something and then I was prompted for password then geth started running and loading blockchain it looks like.  I need response please.  What was purpose of unlock cammand and what do I do after executing it?  Thanks

[2016-06-16 07:31] Bitbobb commented on #161
I was unable to unlock it with myehterumwallet.com BTW thanks

[2016-06-16 09:58] nvmr commented on #836
Same for the OS X version on OS X 10.11.5. Balances are shown correctly but the tool is unresponsive and says "waiting for blocks" forever. Only way to quit it is via Force Quit. Same behaviour whether I run geth separately or not.
<img width="340" alt="screen shot 2016-06-16 at 10 54 43" src="https://cloud.githubusercontent.com/assets/4020438/16112839/89272faa-33b9-11e6-96e3-1c099d7fbf3e.png">

V

[2016-06-16 10:34] luclu commented on #161
@Bitbobb good to hear, are there any special characters? What is your passwords length?

[2016-06-16 10:52] tuxbear commented on #836
+1 for OS X 10.11.4

[2016-06-16 10:53] Bitbobb commented on #161
length: 9
special characters:  !
This is assuming that the password I found is correct.  I think it is but I am still being told it is wrong password.  This must be a bug I found right?  I have read about this alot since this happened.  Thanks a lot for your help with this!!!  :)  :)
     Ask me anything I want to fix this
    I can send you what I think the password is if it helps.  At this point

[2016-06-16 10:55] bahner commented on #836
+1 for Ubuntu. Strace attached. The strace is a "strace -ffp PID" running for a few seconds. It's mostly timeouts.
[mist.txt](https://github.com/ethereum/mist/files/318213/mist.txt)

[2016-06-16 11:31] luclu opened #837 "Memory Leak in 0.7.5"
Node type: geth 1.4.7
OS: linux / windows / osx
Network type: main / test
Mist version: 0.7.5
#### Normal launch

Memory footprint of geth fastly climbs to over 1.5 GB when launched through Mist/Ethereum Wallet.
No watched contracts.

---
#### geth standalone

Running geth standalone will only use about 0.5 GB.

---
#### geth standalone + connecting the wallet
- no updates on the wallet screen
- g

[2016-06-16 11:32] #831 closed

[2016-06-16 11:54] SteffenIvanhoe opened #838 "Wrong message "Your computer's clock is not synced.""
Node type: geth
OS: windows 10
Network type: main
Mist version: 0.7.5

I get this error message at any start of the wallet despite my clock beeing in perfect sync (checked with multiple web clocks).

[2016-06-16 12:55] luclu commented on #838
I will close as duplicate of https://github.com/ethereum/mist/issues/397.
Could you please state the output of this commend over in that issue?
[code]

[2016-06-16 12:55] #838 closed

[2016-06-16 13:23] SteffenIvanhoe commented on #397
The issue is not solved (or some new bug has been introduced). Here is my output of
`reg query HKLM\SYSTEM\CurrentControlSet\Services\W32Time` (as requested):
[code]
I have explicitly checked and repeatedly synced clocks. They have a correct time. Either the clock you use is of or there is just a bug.

BTW: The displayed error message no longer contains the lines with "Your time" and "Real time".

[2016-06-16 13:28] luclu commented on #397
@alexvandesande could you please check if os-timesync `1.0.6` got bundled or if it is still on `1.0.5`.

[2016-06-16 13:49] arotello opened #840 "0 peers __ waiting for blocks"
Node type: geth 1.4.7
OS: OS X El Capitan (10.11.5)
Network type: main
Mist version: 0.7.5

I upgraded Mist, deleted the original blockchain (~13GB) and let the new version sync (~4.3GB) After syncing, the Mist application opens up but shows 0 peers __ waiting for blocks. This lasts for around 30 min before peers and blocks suddenly appear. However, Mist then says X number of minutes since last bl

[2016-06-16 13:58] luclu commented on #161
1. is this your etherbase (main account)?
2. do you remember what version you used to create it?

[2016-06-16 14:56] willtate commented on #836
+1 Locks in OSX.  in 0.7.4 I was able to fix a similar behavior by completely deleting the chain data and having it resync, but that didn't help this time.

[2016-06-16 14:57] luclu commented on #840
Most likely related to https://github.com/ethereum/mist/issues/836

[2016-06-16 15:15] TiratroN2 opened #842 "Ethereum wallet frozen on splash screen"
Hi.
I tried several version of Ethereum wallet mist , but everytime problem is the same:
![empty screen](https://cloud.githubusercontent.com/assets/19977880/16121950/e19681fc-33ed-11e6-8c52-97dfee5328a1.jpg)
Tried first run geth.exe . Starting normaly. After that i run again Ethereum-wallet.exe and again- only white spash screen and nothing happens.
No errors indicated, no nothing.

I work with Wi

[2016-06-16 15:17] luclu commented on #842
@TiratroN2 could you try out these recommendations, please? https://github.com/ethereum/mist/issues/599

[2016-06-16 15:24] bartobri commented on #583
@luclu

Downloaded Ethereum-Wallet-linux64-0-7-5.zip, unzipped, and ran 'Ethereum-Wallet'. No good. Still get the same error.

Let me know if I am doing something wrong. There doesn't seem to be any installation procedure, so I assume all I need to do is run the 'Ethereum-Wallet' binary.

[2016-06-16 15:30] rafajafar opened #843 "Mist wont open, geth still running in background, says cannot connect to geth."
Node type: geth
OS: windows
Network type: main
Mist version: 0.7.5

This is what happens when I start up Mist with this new version. Happens when run as administrator or not.

Log File: [node.txt](https://github.com/ethereum/mist/files/318744/node.txt)

![c11](https://cloud.githubusercontent.com/assets/5505214/16122548/84930e22-33b5-11e6-8a5c-11b994bd057a.PNG)

![c12](https://cloud.githubuserconte

[2016-06-16 15:39] luclu commented on #583
@bartobri could you please give me the output of `timedatectl`?
It seems our packaging omitted the `npm update` and is still on os-timesync `1.0.5` :/

[2016-06-16 15:46] bartobri commented on #583
@luclu
[code]

[2016-06-16 16:19] HighTower79 commented on #843
I do get the same error messages.
I tried the --ignore-gpu-blacklist parameter and to let the wallet download a new blockchain from scratch. No difference.

[2016-06-16 16:21] rafajafar commented on #843
Suddenly started working after 4th try. No idea why. No clock sync. Just ran it.

[2016-06-16 16:29] 9600- opened #844 "Contracts missing after loading 0.7.5, Won't show in any previous versions."
Node type: geth
OS: Windows 10
Network type: main
Mist version: 0.7.5

I've updated to the newest release of MIST (0.7.5) and upon on first load, the contracts took a second to populate the UI (DAO and Demo Contract Wallet), but after a restart of the wallet, I can no longer see any contracts, and only Etherebase account is showing.

How do I load the contracts back into MIST?
Thank you,
9600

[2016-06-16 16:57] derektiffany commented on #821
Mist Stratus

[2016-06-16 16:58] 9600- commented on #844
Somehow, another process was using  the "chaindata" folder after 0.7.5 crashed on the same session. A complete reboot seems to have solved the issue, with the contracts showing up after a little while.

However, the client has a habit of crashing (and becoming unresponsive) when being minimized or utilized over RDP.

[2016-06-16 17:17] 9600- commented on #844
Sames issues, only UI freezing, menus are okay, and DAO tokens are not showing for the Etherbase account. Very erratic performance. Lots of corroborating issues here:

https://www.reddit.com/r/ethereum/comments/4oa3dk/new_ethereum_wallet_075_the_im_sorry_for_074/

[2016-06-16 17:26] fjl commented on #837
@luclu please do the following while geth uses that much memory:

[code]

and paste geth.stacks in a gist.

[2016-06-16 18:32] tpberntsen opened #845 "Danish Translation"
Working on a translation into Danish.

[2016-06-16 18:45] A2be commented on #837
@fjl I was the one who described this problem in some detail in the https://gitter.im/ethereum/mist chat page late yesterday US time.

I'm pretty new to github, open source, and linux, but have a lot of development and test experience.

With your helpful info `geth --exec 'debug.stacks()' attach > geth.stacks,` I will try to do that later today and figure out how to attach files to the right place

[2016-06-16 18:56] fjl commented on #837
You can upload the file at https://gist.github.com

[2016-06-16 18:58] evertonfraga commented on #598
I believe this issue was solved on #772, and went live on 0.7.5 release.

[2016-06-16 19:05] evertonfraga commented on #702
@alexvandesande so what's the plan here?
• should we respect the OS theme – maybe investing time adapting to dark themes, there should be a way to gather this from electron
• or impose our colors in the background?

i should have a VM with this to see if/how that issue spreads throughout mist.

[2016-06-16 19:06] #598 closed

[2016-06-16 19:11] Bitbobb commented on #161
No worries I read it that way too and I wrote it.  ahah.  We are human!!!
Yes it is the etherbase main account
I am not sure on the version because I had problems with  the latest mist which was I believe 7.4
I could not get it too do something and one of the dev's told me to solve this use 6.2
so now I am on 6.2  So that should be the version unless I created the password before the switch
but I

[2016-06-16 19:13] luclu commented on #845
Awesome @tpberntsen! I'll be there if you need some technical help. ;)

[2016-06-16 19:25] sykong36 opened #846 "Mist Keystone issue"
My key stone account file is not updating. I made several transaction ,but when I copied it and pasted at new mist wallet on new computer It shows original amount that I imported from Jason file. Key stone account file is always same date ( modification date at window) even I did transfer either. The original wallet shows the latest amount. but not key stone file. Please help..

[2016-06-16 19:54] luclu commented on #837
Here are some dumps. Though I could **not yet** reproduce that memory leak.
All on windows 7 x64.

1. geth standalone - acting normal.
 https://gist.github.com/luclu/cc7f755353b92ff213994db97b793ba4
2. geth standalone - mist attached right after geth started - **geth frozen (no block transaction anymore)**
 https://gist.github.com/luclu/7beecf9846f57ae86795b67211a9d533
3. geth standalone - mist ki

[2016-06-16 19:56] luclu commented on #842
@frozeman can you enlight me on the differnt `Ethereum Wallet.exe` processes on windows?
I can reproduce this ☝️ behaviour if I kill the right one.

[2016-06-16 20:00] Bitbobb commented on #161
Dear luclu,
     I found another password that worked.  I feel so stupid.  I did not know I even made a password I am so sorry for the trouble.  Please forgive me.  Nobody donated anything.  I have just successfully transferred from my previously locked wallet on main ether base account.  I am willing to give some eth for your trouble.  Thanks again

[2016-06-16 20:07] luclu commented on #161
No worries @Bitbobb! Glad you solved it.
Finally... that's good to hear. ;)

[2016-06-16 20:07] #161 closed

[2016-06-16 20:09] luclu commented on #161
For the future, if affected please create a new issue so this doesn't get necrobumped. Link to this if relevant.

[2016-06-16 20:32] alexvandesande commented on #702
Ideally we should respect the dark theme choice and increase contrast a bit, only for these users. Do you have a ubuntu VM to test this?

[2016-06-16 21:00] TiratroN2 commented on #842
With --ignore-gpu-blacklist  and without him - everything is the same.

←[32m[2016-06-16 23:53:21.373] [INFO] main - ←[39mStarting in Wallet mode
←[33m[2016-06-16 23:53:21.872] [WARN] nodeConnector - ←[39mNODECONNECTOR ERROR { [Error: connect ENOENT \\.\pipe\geth.ipc]
  code: 'ENOENT',
  errno: 'ENOENT',
  syscall: 'connect',
  address: '\\\\.\\pipe\\geth.ipc' }
Error: connect ENOENT \\.\pipe\geth

[2016-06-16 21:50] adamvp commented on #844
Same issue!

[2016-06-16 22:24] KevinKent opened #847 "No MD5 checksum on 0.7.5 release"
What happened do the MD5 checksums that were being published with each new release?

[2016-06-17 01:19] larrysmith1000 opened #848 "Random Transactions in Wallet List"
Yay! 7.5 is out.  Thank you!

I'm not sure if this is purposeful functionality, when watching TheDAO, but when I open Ethereum Wallet after having been closed for a few days, I see a bunch of transactions all sent to TheDAO popup and listed in the "Latest Transactions" window.  They are from random address.  The DAOToken transfers are successful transfers to TheDAO.  The Ether transfers are unsucc

[2016-06-17 01:40] larrysmith1000 commented on #837
I can't reproduce this.  I see what Luclu sees.

I noticed that Geth is randomly testing Virtual Machine options: "--jitvm", and when I was randomly selected for --jitvm, I initially saw a fast climb in resources to 1GB while in Wallet, but then it dropped back to 600MB.  Only reason I was keeping an I is because I had the Memleak issues with 7.4.

[2016-06-17 02:09] CaseyWA commented on #525
Hi @luclu, I had a chance to try out release 0.7.5 tonight.  While still a bit slow syncing up with The DAO contract, it is actually functional now!  It also is displaying my token balance correctly which it was not before.  I see a "check for update" menu option which I'm hoping means the next update might be a simple pull through the GUI :-)  This was on a Win 10 machine, also tested it on a Ubu

[2016-06-17 05:54] A2be commented on #837
@luclu I wrote you an email with some linux noob questions.

I've not yet been able to run the `geth --exec 'debug.stacks()' attach > geth.stacks` command you suggested, but am fairly certain that the problem will reliably occur on my linux machine.

[2016-06-17 07:33] davedavis commented on #836
Same issue.
Windows 10, x64.

Loads up fine and syncs, then for some reason, after getting up to date, it displays that I'm 41 mins behind. This appeared within minutes of syncing the last block.

The menu elements and the close "X" button are still active though.
Process is leaking more memory than the previous version too.

![memleak](https://cloud.githubusercontent.com/assets/5341256/16143486/f

[2016-06-17 08:01] 5chdn commented on #583
@bartobri type `timedatectl set-ntp true` and try again. this worked for me.

@luclu the issue remains, however enabling network time fixes it for me:

    1 ✗ user@hoster ~ $ timedatectl
          Local time: Fri 2016-06-17 09:57:41 CEST
      Universal time: Fri 2016-06-17 07:57:41 UTC
            RTC time: Fri 2016-06-17 07:57:42
           Time zone: Europe/Amsterdam (CEST, +0200)
     Network

[2016-06-17 08:42] hiddentao opened #850 "Windows Installer"
OS: windows

It's clear from numerous user reports that we need an EXE installer for windows. `https://www.npmjs.com/package/electron-windows-installer` will probably do the job, but we need a code signing certificate if we are to get past Windows' security.

Someone in the foundation needs to do this for us - https://msdn.microsoft.com/en-us/library/windows/hardware/hh801887.aspx

[2016-06-17 10:01] sjledet commented on #836
I'm getting the same issue

[2016-06-17 10:50] igetgames commented on #780
I've tried 0.7.5 for the first time, and after several successful transactions and attempting a new contract execution I get "Wrong Password". Instead of my wallet contract being shown as the sender and the contract I'm attempting to execute on being shown as the receiver, the _last_ transaction's sender and receiver fields show up, and the Ether amount is 0.00 (I'm attempting to send 1500 Finney)

[2016-06-17 10:53] JeffreyBPetersen commented on #844
Same issue, multisig contract disappeared and is now perpetually "Importing..." when entering the address in again.

[2016-06-17 10:58] luclu commented on #583
Unfortunately the updates didn't make it in this release.
Starting with our next release we are hopefully using travisCI to package the binaries.

---

Supposedly `Network time on:` indicates NTP to be enabled,
and `NTP synchronized:` that the OS is in sync through NTP.

In reality the output is inconsistent on different OS:
 - Ubuntu only gives a `yes` for the first entry
 - whereas Arch only for

[2016-06-17 11:04] luclu commented on #525
I will close this specific thread as solved - as the initial issue does not seem to appear anymore and this gets cluttered.
Should you still encounter the "invalid date" message, please give some ping-back over here.
Otherwise feel free to open a new issue.

---

That is good to hear @CaseyWA - looking forward to iron out the remaining big ones.

[2016-06-17 11:04] #525 closed

[2016-06-17 11:14] luclu commented on #847
It has been omitted in favor of SHA-256: https://en.wikipedia.org/wiki/MD5#Security

[2016-06-17 11:14] #847 closed

[2016-06-17 11:22] luclu commented on #843
Thanks for reporting, I will keep you updated as soon as I get more info on this issue.

[2016-06-17 11:31] luclu commented on #837
If **geth**'s memory footprint should grow over 2+ GB, please run this command as @fjl suggested:
[code]

@A2be you either need to navigate to the `Mist-0.7.5/resources/nodes/geth`-folder beforehand or install geth globally by adding the [PPA](https://github.com/ethereum/go-ethereum/wiki/Installation-Instructions-for-Ubuntu)

[2016-06-17 11:41] luclu commented on #848
@larrysmith1000 this is showing all [events](https://solidity.readthedocs.io/en/latest/contracts.html#events) triggered by "The DAO". Most of them are not very useful for a normal user. For now please just disable event-watching in that contract in 0.7.5.

[2016-06-17 11:41] #848 closed

[2016-06-17 12:05] somhi commented on #836
same issue here on Ubuntu 16.04

[2016-06-17 13:54] Beervangeer commented on #844
same here and cant watch TOKENS anymore, please help !

[2016-06-17 15:48] bp360 commented on #836
Same, mac 10.11.5, mist 0.7.5, geth 1.4.7, SSD

Switching to the Testnet (for just a minute or two - not long enough to sync the whole testnet) then switching back to the Main Network temporarily had my block timer ("22s since last block"...) working again - until my fan fired up and geth was cranking again and it froze after about 1 minute :(

[2016-06-17 16:02] igetgames commented on #780
That was a bust. After loading 0.7.2, my watched and wallet contracts are gone. The wallet contract, the one holding my either, was the one whose password all of the sudden stopped working. Switched back to 0.7.4 and it's the same. My Ether's now in the ether. Fuck.

Can anyone suggest an alternative Ethereum client? At least this one was pretty.

[2016-06-17 16:11] igetgames commented on #780
Is there any way I can attempt to recover the vanished wallet contract?

[2016-06-17 17:20] bartobri commented on #583
@5chdn That worked! Thanks!

[2016-06-17 18:26] jstefanop commented on #836
same issue on Mac...this version pretty much broke the wallet...CPU @ 300% and it eats up gigs of ram. Trying to launch the 7.4 version does the same thing now...

[2016-06-17 19:04] luclu commented on #780
@igetgames you can reimport the wallet contract. Simply chose to create a new one and change its type to import. If you don't remember the address use a blockchain-explorer to look it up following your accounts transactions.

paging @hiddentao (instance of mising db entries)

[2016-06-17 19:08] luclu commented on #836
@jstefanop could you kindly join the discussion over here https://github.com/ethereum/mist/issues/837 and run that commands listed there while having this memory bloat (2+ GB)?
Your help is much appreciated. Thank you!

[2016-06-17 19:09] alexvandesande commented on #780
@yonilevy I had a similar issue with you and was able to fix it. Can you please check your keystore folder and see if you have multiple copies of the same key there? Try to move out all keys but the one you want to use

[2016-06-17 19:12] luclu commented on #780
@alexvandesande I can confirm this reproduces the behaviour for me.

[2016-06-17 19:20] igetgames commented on #780
This might be my issue:
https://www.reddit.com/r/ethereum/comments/4ngvb7/reminder_even_if_using_a_wallet_contract_be_sure/

I'm sending some coins from another wallet to my main account to see if my wallet contract shows up. I don't have any Ether in my main account so I don't have the button to create a new wallet contract. I have a couple of UX suggestions in that regard, I'll report those sepa

[2016-06-17 19:22] alexvandesande commented on #780
@igetgames please post this in a separate thread, this is about the wrong password bug

[2016-06-17 19:29] jstefanop commented on #837
Here is the same issue on Mac OS

https://gist.github.com/jstefanop/54afc2204032010a8a8d02013f29e833

[2016-06-17 19:29] jstefanop commented on #836
@luclu done

[2016-06-17 19:30] yonilevy commented on #780
@alexvandesande i indeed had two duplicated keys/accounts. removing one didn't immediately solve the issue, but after a reboot it now works!

[2016-06-17 19:31] igetgames commented on #780
Yeah. If you have a 0 ETH balance in your main account, and you attempt to send funds to an external address from a wallet contract then you will be presented with a screen attempting to send a 0 ETH balance from your main account to your wallet contract, instead of the address you were attempting to send to. If enter your password and attempt to send, you get a "Wrong Password" message. Should I

[2016-06-17 19:32] luclu commented on #780
@igetgames your issue is not related to this one. Yours has its own thread here: https://github.com/ethereum/mist/issues/480

[2016-06-17 19:34] igetgames commented on #780
Fair enough. I don't get any info telling me that this is the problem, so the only information I had to go off of was the Wrong Password message. I'll file an issue for that flow separately. Thanks!

[2016-06-17 19:37] luclu commented on #836
@jstefanop thank you! could you also please add geth's memory footprint to the post?

[2016-06-17 20:00] luclu commented on #702
Alternatively we Could enforce `darkTheme: false`. Thought I myself being a dark-UI lover would be very disappointed.
But you could use this attribute for testing without a VM.

[2016-06-17 21:07] luclu commented on #810
@Nawkinger [etherscan.io](http://etherscan.io/address/0x5a65752D0a317A5F4fC33c0F27d2c62369569F13) as well as [etherchain.org](https://etherchain.org/account/0x5a65752D0a317A5F4fC33c0F27d2c62369569F13) show two transaction to the same address `0x4586Af2Da7e95e821DF24e9DAdD7D05BBAe0b7Ad` with the amount of 8.4 Ether. You might have executed it twice.
I will close this for now as it doesn't appear to

[2016-06-17 21:07] #810 closed

[2016-06-17 21:11] luclu commented on #826
Please do this as repeatedly instructed and reopen the issue, if you need assistance.

[2016-06-17 21:11] #826 closed

[2016-06-17 21:13] luclu commented on #808
Please update to version `0.7.5` and give me a ping-back on the outcome.

[2016-06-17 21:15] luclu commented on #799
Please check if you still encounter this issue with version `0.7.5` as this contains a complete refactor of the IPC-communication.

[2016-06-17 21:24] luclu commented on #780
@alexvandesande geth (>1.3.6) doesn't allow for multiple copies of the same keyfile. We might follow this rationale and handle this error.
[code]

[2016-06-17 21:26] TiratroN2 commented on #842
Video driver 15.12 Crimson
Ethereum Wallet 0.7.5  last version
Starting from prompt

←[32m[2016-06-18 00:14:04.074] [INFO] main - ←[39mRunning in production mode: true
←[32m[2016-06-18 00:14:04.277] [INFO] main - ←[39mStarting in Wallet mode
←[32m[2016-06-18 00:14:08.083] [INFO] Windows - ←[39mCreating commonly-used windows
←[32m[2016-06-18 00:14:08.083] [INFO] Windows - ←[39mCreate window: loadin

[2016-06-17 21:44] luclu commented on #818
Please recheck those issues using version `0.7.5`.

[2016-06-17 21:46] luclu commented on #837
Linking related issue: https://github.com/ethereum/mist/issues/726 (Memory Leak (Interaction with Ethereum Wallet / Electron))

[2016-06-17 21:49] luclu commented on #778
@LukaszOls could you please check if this behaviour still occurs in version `0.7.5`?
The IPC-communication got a complete overhaul and the event-logging can now be enabled/disabled on per-contract base.

[2016-06-17 21:53] luclu commented on #846
@sykong36 I'm not sure if I understand you correctly.
The files in your `keystore`-folder contain the information about your accounts address as well it's private key which you need to move funds. The Ether or token are not saved in the file but on the blockchain. Make sure to have an up-to-date client, thus a fully synced wallet to see the current balance.

I will close this for now. I will stay

[2016-06-17 21:53] #846 closed

[2016-06-17 21:54] luclu commented on #791
I will close this for now as for inactivity. Feel free to reach out to me again if you are not in the know.

[2016-06-17 21:54] #791 closed

[2016-06-17 21:57] luclu commented on #631
How did this turn out?
I will close this for now as I expect it to be solved after being fully synced. Please give me some ping-back if you still encounter this issue.

[2016-06-17 21:57] #631 closed

[2016-06-17 22:00] luclu commented on #695
Does version `0.7.5` solve your issues? It includes a complete overhaul of the IPC-communication - the mean by which the wallet connects to the (geth) node.

[2016-06-17 22:04] luclu commented on #744
@linagee who is version `0.7.5` working for you? We updated electron to `1.2.2`..

[2016-06-17 22:14] luclu commented on #843
This might be related to https://github.com/ethereum/mist/pull/841
Please try this PR if familiar with git/developing. Otherwise I have to put you off to wait for the next release.

[2016-06-17 22:21] taoteh1221 commented on #805
@luclu So I tried v0.7.5 on both machines today to see if I could replicate this multisig GUI bug still, after swapping my HDD for a SSD (so both machines now have SSDs). My 8 core desktop loved v0.7.5 and it ran great, BUT my laptop consistently froze every single time after chain sync when the Mist application opens. I retried a few times, between system reboots. I even let it sit for a couple h

[2016-06-17 22:51] comodore90 commented on #631
Hello friend thanks for the help but in the end , I realized I had to put my Json without paswords and me , it worked , but in the end I myetherwallet , waiting to leave mist betas

[2016-06-17 23:01] yunesj commented on #389
I'm having this issue. Transactions disappear from under "Latest Transactions," and there is no record of the transaction on any block explorers.

I'm using Mist version 0.7.5 on Geth 1.4.7 on OS X 10.10.5. It's a fresh install. My account json files were copy-pasted from a cpp-ethereum installation on another machine. My blockchain is / was synced.

@Gondee's workaround worked for me: following h

[2016-06-17 23:12] oneala commented on #695
since then i am doing it separately , i start get do sync blockchain and after that i start the wallet and it works, did not got the 0.7.5 version yet

[2016-06-17 23:14] nic-f commented on #175
Hey, I have the same issue. Did you manage to sought it out?

[2016-06-18 07:55] emizzle commented on #389
I've had the same issue on OSX 10.11.3 with Mist 0.7.3 (and geth 1.3.6). Had a transaction just sitting with "0 of 12 confirmations" and the transaction did not existing on the blockchain, and also I noticed my wallet was falling behind the synced blocks essentially never being updated with the current block (even though when attaching geth shows the blocks are synced properly). I just upgraded to

[2016-06-18 10:47] luclu commented on #175
Transactions might be delayed if a very low fee was chosen. For now please use the pretty low default fee. https://github.com/ethereum/meteor-dapp-wallet/issues/214

[2016-06-18 11:49] luclu commented on #844
I can confirm. Token and contracts disappear on 0.7.5@OSX. I currently don't see a pattern.

[2016-06-18 17:17] Sazon85 opened #851 "Ethereum Wallet Account gives Wrong Password message but password never changed Please HELP"
Hello all, on top of the DAO breakdown I am unable to use my Ethereum Wallet Account.
I used Ethereum wallet version .7.4 on win 64 in May  for the first time to buy into the DAO
I used a copy of my crowdsale ethereum json file to import my account on my lenovo laptop, home wifi network.

On May 12 I did my last transaction with my INITIAL password. All transactions went through and I had about 30

[2016-06-18 19:52] lazukars commented on #75
Just tried it on Ubuntu 14.04 with the following commands.

`$ cd mist
$ git pull && git submodule update
$ gulp update-nodes`

The gulp command errors out:

[2016-06-18 20:16] rdonnelly236 commented on #801
I tried to transfer 158 eth from my contract wallet to my main account and nothing happened for days. Then today I got this:

I have no idea where it went to. It is not in my main account and it is not in my exchange. Please help me find the missing eth.

Many Thanks,

Rick Donnelly

[2016-06-18 21:01] 9600- commented on #844
Has anyone successfully been able to send a transaction from their 0.7.5 affected wallet? I'm hearing lots of anecdotal complaints of password verification issues...

[2016-06-18 21:11] 9600- commented on #844
Note: loading the wallet data with 0.7.4 still results with the missing contracts/tokens.

I'm aware the contract still exists in the blockchain, but fear I may lose the ability to withdraw from that multi sig wallet from mist. Can someone suggest a procedure for importing/withdrawing from geth?

[2016-06-18 21:23] 9600- commented on #844
Note: Wallet contract was created using the included wizard in V 0.5.1, Tokens are DAO.

[2016-06-18 21:23] luclu commented on #75
@Lazarus1 you shouldn't need to run the develop version. Anyways you will need to `npm update/install`.

[2016-06-18 21:24] lazukars commented on #75
Thanks! Can you get that in the documentation?

[2016-06-18 21:30] luclu commented on #851
The transactions are just due to the event-logging of "The DAO" contract. In version 0.7.5 you can deactivate those on per contract base. (https://github.com/ethereum/mist/issues/781)

Please make sure that you don't have multiple copies of the same keyfile in the keystore-folder. See the related Bug-report: https://github.com/ethereum/mist/issues/780

Also please follow those recommendations: htt

[2016-06-18 21:43] lazukars commented on #75
Still getting the blank white screen.

OS: Ubuntu 14.04
Mist: 0.7.5

[2016-06-18 21:43] luclu commented on #75
@Lazarus1 done: https://github.com/ethereum/mist/pull/852

[2016-06-18 21:45] lazukars commented on #75
Thanks for that. Much appreciated!

On another note, I just tried the new Mist 0.7.5 version after updated the npm packages. Still getting the white screen.

[2016-06-18 21:51] lazukars commented on #75
This error happens when running `electron .` in side mist dir.

fig/Mist/network { [Error: ENOENT: no such file or directory, open '/home/lme/.conf
ig/Mist/network']

I nuked the mist config folder awhile back, to see if that would resolve this issue. That's why it's gone. What do you suggest?

[2016-06-18 21:55] luclu commented on #75
@lazukars please join the gitter channel and ping me, so the other subscribers don't get flooded.

[2016-06-18 22:05] ryancharleston opened #853 "Can't withdraw from Ethereum Wallet 0.7.4 Mac"
Trying to send 1.36 ETH from my Ethereum Wallet on a Mac to an online exchange wallet and nothing happens. My ETH never gets sent. I've tried 3 times and nothing happens. Is this a bug?

[2016-06-18 22:11] luclu commented on #853
@ryancharleston please be more specific about your process and any alerts/errors. Use a blockchainexplorer to verify the transactions status and also try with the latest version 0.7.5.

[2016-06-18 22:13] ryancharleston commented on #853
This is the transaction -
http://etherscan.io/tx/0x82104eeb072325c93b9cf3b783e6703124495be819f48057282b27af3b1ce7a2

[2016-06-18 22:17] ryancharleston commented on #853
Just upgraded to 0.7.5 and tried again - http://etherscan.io/tx/0xef0935af0553c769b7b7e99343f81c8016dfa14dcc75a7c67cd862f0e506de29

[2016-06-18 23:28] 9600- commented on #844
Was able to import contract and transfer all ETH to my etherbase account using 0.7.2.
Am only missing DAO tokens at this time.

[2016-06-18 23:54] 9600- commented on #844
Re added the DAO contract and watcher.
There is some condition upon loading 0.7.5 that clears the contract content amidst the UI lockups and hung GETH instances.

[2016-06-19 04:22] sykong36 commented on #846
Thank you. I got it

From: Luca Zeug [mailto:notifications@github.com]
Sent: Friday, June 17, 2016 5:54 PM
To: ethereum/mist <mist@noreply.github.com>
Cc: sykong36 <sykong@hyoseong.co.kr>; Mention <mention@noreply.github.com>
Subject: Re: [ethereum/mist] Mist Keystone issue (#846)

@sykong36 <https://github.com/sykong36>  I'm not sure if I understand you correctly.
The files in your keystore-folde

[2016-06-19 09:42] ChihChengLiang commented on #845
hi @tpberntsen ,
I wrote a guide on translations, see if this helps:
https://github.com/ethereum/mist/wiki/Translation-and-i18n-Guide

[2016-06-19 09:56] fineartcommodities opened #854 "Couldn't connecto to node [solved by reboot]"
Ethereum-Wallet-win64-0-7-5, main mode.
Till 06.18.2016 all running fine.
06.19.2016, 11:30 AM, all wallets disappear!
Got this error on screen.

![er](https://cloud.githubusercontent.com/assets/17668554/16176675/9e361f7a-3614-11e6-8a53-e4314f1b9fd1.png)

Have try previous version of mist till 0-6-2 without  success.

[2016-06-19 11:22] luclu commented on #854
@fineartcommodities don't worry about your wallets they will still be under `%appdata%\Ethereum\keystore`. Please try to reboot your computer for start.

[2016-06-19 11:52] sparda2 commented on #808
Hi there I am having the same issue.  I downloaded version 0.7.5, chose the option 'Start using Ethereum' and then setup the password I always use.  Now I am trying to create a contract and it's saying the password is wrong.  Is there any way to change the password or start again without loosing what i converted from bitcoins to ether while setting up my mist wallet? Sorry im pretty new with this.

[2016-06-19 11:53] luclu commented on #829
fixed by PR https://github.com/ethereum/mist/pull/849.

[2016-06-19 11:54] luclu commented on #808
@sparda2 make sure to have funds in your etherbase account when you evoke or interact with contracts.

[2016-06-19 11:57] sparda2 commented on #808
Hi @luclu, In theory I converted 10 Ether during the setup of my mist wallet and the transaction was completed using that popup window from ShapeShift that is opened with the wallet.  However my balance in the mist wallet is still 0.  Why is this? does it take some time to actually be reflected in my wallet? Thanks

[2016-06-19 11:58] sparda2 commented on #808
This is what my wallet looks like:

![image](https://cloud.githubusercontent.com/assets/16109832/16177163/b18344b2-3679-11e6-9361-a855605fbf5e.png)

[2016-06-19 12:02] luclu commented on #808
There seems to be some weirdness on your side. Do you run any external instance of geth you connect to? Also are you sure this is 0.7.5?

Judging from the network stats on top - there seems to be a problem connecting to your geth node.
Also `sendTransaction()` is depreciated in version 0.7.5.

[2016-06-19 12:03] sparda2 commented on #808
And this is the shifty window i got.. Sorry for not putting everything into one post.

![image](https://cloud.githubusercontent.com/assets/16109832/16177240/36940506-367a-11e6-9b8e-5457b74611be.png)

And this is where i get the wrong password error:

![image](https://cloud.githubusercontent.com/assets/16109832/16177244/4c356f44-367a-11e6-89b2-ceff925ed372.png)

What should i do?

[2016-06-19 12:04] sparda2 commented on #808
Not using any external instances of geth.  and yup. 0.7.5

![image](https://cloud.githubusercontent.com/assets/16109832/16177253/89dce8f4-367a-11e6-90bc-5c9a9cb2050d.png)

[2016-06-19 12:08] luclu commented on #808
@hiddentao could you have a lookt at this?
Instance of `eth_sendTransaction`: https://github.com/ethereum/mist/issues/808#issuecomment-226993555
Searching the code I found: https://github.com/ethereum/mist/blob/5f1b4e7c403ecf473347e62d3dc4243ff93591d7/modules/ipc/ipcProviderBackend.js#L313
and this old doc-string: https://github.com/ethereum/mist/blob/223111895de26e2aa1e4c7443dc82cb6b68d05cd/modul

[2016-06-19 12:12] sparda2 commented on #808
I don't even want to close the wallet because i might not be able to log back in! Im new using this wallet so im not sure how it works.  If i close it, will i be able to recover my password/account again if the password is still wrong?
Also, is it supposed to show those 10 ether on my main account immediately after converted from btc? or they usually take some extra time to show?
Thanks in advance

[2016-06-19 12:14] sparda2 commented on #808
hold on... ive just tried again with no password and it's creating the contract... this feels a bit dodgy.

![image](https://cloud.githubusercontent.com/assets/16109832/16177291/f5448826-367b-11e6-8998-75b031703b74.png)

[2016-06-19 12:44] fineartcommodities commented on #854
Thak you, rebooted and working.

[2016-06-19 12:46] #854 closed

[2016-06-19 12:57] hiddentao commented on #808
@frozeman Looks like `eth_sendTransaction` is being rejected here because it's part of a batch request. Can we change that to allow it go through? Can we not do the popup window asking for a password for it?

[2016-06-19 13:05] Bitbobb commented on #808
I will let you know once I have 7.5. installed.  Everything is working fine for me now.  Thank you!  :)

[2016-06-19 13:52] chevdor commented on #778
I still see the issue in 0.7.5. I am using Mist 0.7.5 on OS X.

I can add a watch on the contract (I tested using the full.json interface).
At first it works all fine, I can see all the method, call them, all normal. After a few seconds (blocks?), the list box with the contract methods and all the properties disappear and no longer show up.

Since 0.7.4, it is possible to click the trashcan next t

[2016-06-19 14:58] keyjai opened #855 "can not deposit to my eth wallet main account"
https://etherchain.org/tx/0xe58fa4d315ac5236090ba3ffd4fdda4fc76cbb0ffd5bd3262ffe1c6fc0762243
already payout to my main account address , Why I don't have received payment?

[2016-06-19 15:01] geoah opened #856 "Minor UX issue: Onboarding should not allow users to go back to the beginning after they have created their key"
Node type: geth (but irrelevant)
OS: windows (probably the same in linux/osx)
Network type: main (but irrelevant)
Mist version: 0.7.5

__Issue:__ Onboarding allows users to go back to the beginning after they have created a key and possibly added ETH without telling them what happens to their existing wallet/key.

__Story:__ As a user new to ethereum, I download mist on windows 64bit and started i

[2016-06-19 17:32] 9600- commented on #844
Can confirm. Every time I re-load 0.7.5, all contracts are cleared and must be re-added. Will continue using 0.7.4 until this is resolved.

[2016-06-19 18:00] dcsvt opened #857 "incorrect receiving address on 'execute contract' page"
I'm trying to send my DAO from my Ethereum Wallet to an exchange, I put the correct receiving address when I was filling up the form, but after I clicked the 'send', on the next 'execute contract' page, the receiving address appeared is not the one I put in, automatically became the DAO crowdsale address a while ago where we deposited our Ethers into, the one on the DAO website.

I've tried restar

[2016-06-19 19:12] luclu commented on #857
@dcsvt please check the transaction details with a blockchainexplorer like [etherscan.io](https://etherscan.io).
Also note that many exchanges will take up over 100 confirmations to display your desposit.

[2016-06-19 19:18] luclu commented on #856
@geoah thank you for your detailed report.

You are right, the current process can be confusing.
The user should not be asked for a password again.

[2016-06-19 19:20] luclu commented on #855
@keyjai please make sure you are up-to-date with version 0.7.5 and fully synced to the network.

[2016-06-19 19:20] #855 closed

[2016-06-19 19:32] luclu commented on #454
I will close this as the eth-connection will be upgraded altogether.

[2016-06-19 19:32] #454 closed

[2016-06-19 19:34] luclu commented on #461
@jhamel2 do you still encounter this glitch with version 0.7.5 which leveraged electron 1.2.2?

[2016-06-19 19:38] luclu commented on #667
I will close this for now as of inactivity. The eth-backend will be upgraded soon - until then please still to geth.

[2016-06-19 19:38] #667 closed

[2016-06-19 19:42] luclu commented on #533
@karalabe this does not seem to occur in 0.7.5 - could you confirm?

[2016-06-19 20:53] ORIELLY opened #858 "0.6.1 does not sync"
Node type: geth/eth
OS: linux/windows/osx
Network type: main/test
Mist version: 0.0.0

Please check the already existing issues, before creating an issue. We would like to keep duplicates at a minumim.
Read the https://github.com/ethereum/wiki/wiki/Mist-Troubleshooting-Guide first, where we summarized a few of the known issues.

Add the following to issue, when possible:

- Screenshots
- Check the

[2016-06-19 21:35] dcsvt commented on #857
thanks for responding but that was not my question

[2016-06-19 22:01] luclu commented on #858
Please update to version 0.7.5. There have been substantial improvements in the 0.7 line. We can't support legacy versions.

[2016-06-19 22:01] #858 closed

[2016-06-19 22:06] luclu commented on #857
Don't worry, this completely normal as you interact - by means of your transaction you are confirming - with the contract of "The DAO" instructing it to "send" your Token to the exchange.
What happens on low level is you instruct a change of ownership within that contracts mapping `owners` variable.

[2016-06-19 22:06] #857 closed

[2016-06-19 22:27] ORIELLY commented on #858
how can I update , If I back up with last sync I made were all ethers are not reflected completely will I recover all my ethers inclusive those not reflected?

[2016-06-19 22:33] luclu opened #859 "no accounts displayed"
Node type: geth
OS: linux (Ubuntu 14.04 x64)
Network type: main
Mist version: 0.7.5
1. started with empty keystore
2. added account during on-boarding

Nothing suspicious in the logs.
Snapshot of VM available.

Restarting the Wallet seems to help.

Affected users:
https://github.com/ethereum/mist/issues/869
https://github.com/ethereum/mist/issues/873

Could be related:
https://github.com/ethereum/

[2016-06-19 22:39] luclu commented on #858
Use those links: https://github.com/ethereum/mist/releases
No ether will be affected as not the ether but your right to access it is saved in the accounts keyfile in the keystore folder. Make sure to backup this -> menu -> accounts -> backup -> accounts.

[2016-06-19 22:57] ORIELLY commented on #858
ok thanks will do and advise

[2016-06-19 23:36] luclu opened #860 ""add wallet contract" button disappeared"
Node type: geth
OS: linux (Ubuntu 14.04 x64)
Network type: main
Mist version: 0.7.5.

<img width="1101" alt="unbenannt-1" src="https://cloud.githubusercontent.com/assets/10135872/16180512/3a9c227a-3687-11e6-99b8-ef788a09a5c8.png">

[2016-06-20 01:33] dennyuel commented on #844
using mac latest version and this update works fine for me. fast and responsive every way. So could be on windows only?

[2016-06-20 01:44] luclu commented on #729
Most likely.

Make sure to have your etherbase account funded. This will be used to pay for contract wallet creation.

0xbb9bc244d798123fde783fcc1c72d3bb8c189413

This is some inconvenience caused by the differentiation of internal and external transactions within Ethereum.

I will close this for now, feel free to stay if you have further questions.

[2016-06-20 01:44] #729 closed

[2016-06-20 01:49] luclu commented on #739
The falsely reported accumulated token balance has been fixed in version 0.7.5.
Those transactions are due to the logging of contract's events. This can be turned of on per contract basis in version 0.7.5.

[2016-06-20 01:49] #739 closed

[2016-06-20 01:52] luclu commented on #662
I will close this for now as of inactivity.

[2016-06-20 01:52] #662 closed

[2016-06-20 01:59] sparda2 commented on #808
Hi everyone, thanks for your replies. How about my 10 Ether? Where have they gone to? Is there any way I can revert the transaction and get them back to my blockchain btc account?

[2016-06-20 02:13] Bitbobb commented on #808
Is your mist wallet synced?  It took me several days to get this done.  I had to use --fast
I ask because it looks like your screenshot shows no peers or blocks have been connected to or processed yet.  You would know if this happened because it will tell you the percentage of blocks that have been processed like a progress window.  Once you have processed all the blocks up to when you did your tr

[2016-06-20 02:17] davedavis commented on #75
@luclu

In my particular use case, remoting in, on this issue, it seems to be resolved. Not getting the white UI on Windows 10 RDP.

From my perspective thus us resolved, but it seems other OS's are not so if you need anything from my end, let me know.

Also, not sure if it's related but my Nvidia display driver was updated since this issue was posted. Doubt it's related but worth noting.

[2016-06-20 03:23] sparda2 commented on #808
Probably not. Do you guys know where to check the sync progress? I am using version 0.7.5 for mac.
Also is it ok if i force the geth --fast while i have my mist window still open? I don't want to close it before i have got the ethers cleared in my account just in case i entered a wrong password and then when i try to reopen it, it doesn't work.

[2016-06-20 04:14] A2be commented on #837
I still need to do the recreate on my linux machine.  But the DAO attack and following events has delayed me, as I suspect, all of us.

[2016-06-20 05:23] Bitbobb commented on #808
If you sent eth coin to your wallet address it should show up when your wallet syncs properly.  You can verify this by looking at the block chain with a block explorer.  To do this you will need to find the block explorer website for ether coins then type in your wallet address and do a search for that address.  You will be able to see some results.  If you see the 10 ether coins went to that addr

[2016-06-20 05:29] sparda2 commented on #808
That's cool.. I think i know now why it wouldn't sync.  I tried doing the geth --fast sync and got an error because apparently my time was 1 min and a couple of seconds out of sync compared with internet servers.  I checked my time settings and even though i had the option checked to automatically set the time from the internet, when i selected a different server it did update it and there was a d

[2016-06-20 05:35] Bitbobb commented on #808
Glad you are making progress.. let us know how you make out

[2016-06-20 05:45] luclu commented on #276
Do you still encounter this behaviour in version 0.7.5?

[2016-06-20 05:46] luclu commented on #270
It is possible to pass commandline flags to geth in version 0.7.5: https://github.com/ethereum/mist/pull/689

[2016-06-20 05:46] #270 closed

[2016-06-20 05:49] luclu commented on #318
Do you still encounter this error in version 0.7.5?
This version introduces a complete refactor of the IPC-communication an most likely solves this issue.
I will close for now, but please report back if it isn't solved for you.

[2016-06-20 05:49] #318 closed

[2016-06-20 05:50] luclu commented on #339
Make sure to try 0.7.5.
I will close this for now as of inactivity.

[2016-06-20 05:50] #339 closed

[2016-06-20 05:51] #150 closed

[2016-06-20 05:57] luclu commented on #294
@destenson the eth backend is currently broken https://github.com/ethereum/mist/issues/607 as there are several unresolved bugs. We we give it some love during the next versions. Most likely your problem has already been fixed by the IPC-refactor in version 0.7.5 - still eth's connection isn't without problems.
Watch out for the changelogs. In the meantime you can copy the keyfiles to geth's keyst

[2016-06-20 05:57] #294 closed

[2016-06-20 06:00] luclu commented on #515
@bokkypoobah could you kindly check how 0.7.5's IPC-refactor plays out on this?

[2016-06-20 06:02] luclu commented on #62
I will close this as outdated. ;)

[2016-06-20 06:02] #62 closed

[2016-06-20 06:12] luclu commented on #853
Great!

[2016-06-20 06:12] #853 closed

[2016-06-20 06:31] luclu commented on #175
@nic-f please create a new issue and fill out the basic information. For now I will delete your post on other ones issues.

[2016-06-20 08:09] jordimorris commented on #695
While the invalid data or the flaws alike are gone in 7.5, the application seems to get stuck/frozen for interval times making it unusable. I keep running 6.2 the most stable so far on my computer

[2016-06-20 08:25] sparda2 commented on #808
Sweet I just checked the block page and it says i have the 10 ether in my wallet :)  Sorry another question.  How big is the file(s) i need to download? I only had 6gb free and the operation was aborted because i ran out of space.